integration/integromat/exported/20221219/Anvyl - Update Other Costs.json
{
    "name": "Anvyl - Update Other Costs",
    "flow": [
        {
            "id": 3,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2934072
            },
            "mapper": {
                "from": "drive",
                "sheetId": "PO",
                "sortOrder": "asc",
                "spreadsheetId": "1k8SQj8QXjl6n2uwUjh4Zh6lri5ZLMbzogyyBCCD0xDw",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150,
                    "name": "POs"
                },
                "restore": {
                    "from": {
                        "label": "Select from My Drive"
                    },
                    "orderBy": {
                        "mode": "chose",
                        "label": ""
                    },
                    "sheetId": {
                        "mode": "chose",
                        "label": "PO"
                    },
                    "sortOrder": {
                        "mode": "chose",
                        "label": "Ascending"
                    },
                    "__IMTCONN__": {
                        "label": "My Google connection (gnguyen@nolk.com)"
                    },
                    "spreadsheetId": {
                        "mode": "chose",
                        "label": "Nolk POs"
                    },
                    "tableFirstRow": {
                        "label": "A-Z"
                    },
                    "includesHeaders": {
                        "mode": "chose",
                        "label": "Yes"
                    },
                    "valueRenderOption": {
                        "mode": "chose",
                        "label": "Formatted value"
                    },
                    "dateTimeRenderOption": {
                        "mode": "chose",
                        "label": "Formatted string"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Enter a Spreadsheet ID and Sheet Name",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Maximum number of returned rows"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": {
                            "store": "rpc://google-sheets@2/rpcGetFilterKeys?includesHeaders=true"
                        }
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "po_number (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "po_supplier (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "po_name (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "po_note (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "po_status (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "po_currency (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "po_incoterms (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "po_payment_terms (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "po_shipping_method (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "po_ships_on (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "po_delivered_on (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "item_name (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "part_sku (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "part_name (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "part_description (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "quantity (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "unit_price (Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "unit_of_measure (R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicRouter",
            "version": 1,
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{3.`19`}}",
                            "b": "",
                            "o": "notexist"
                        }
                    ]
                ]
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 16,
                            "module": "json:CreateJSON",
                            "version": 1,
                            "parameters": {
                                "type": 234679,
                                "space": ""
                            },
                            "mapper": {
                                "name": "{{3.`11`}}",
                                "part_id": "{{3.`18`}}",
                                "quantity": "{{3.`15`}}",
                                "unit_of_measure": "{{3.`17`}}",
                                "unit_price_micros": "{{3.`16` * 1000000}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 150
                                },
                                "restore": {
                                    "type": {
                                        "label": "Anvyl - Other Cost - Items"
                                    },
                                    "space": {
                                        "label": ""
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "type",
                                        "type": "udt",
                                        "label": "Data structure",
                                        "required": true
                                    },
                                    {
                                        "name": "space",
                                        "type": "select",
                                        "label": "Indentation",
                                        "validate": {
                                            "enum": [
                                                "tab",
                                                "2",
                                                "4"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "unit_of_measure",
                                        "type": "text"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "quantity",
                                        "type": "number"
                                    },
                                    {
                                        "name": "unit_price_micros",
                                        "type": "number"
                                    },
                                    {
                                        "name": "part_id",
                                        "type": "number"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 22,
                            "module": "json:ParseJSON",
                            "version": 1,
                            "parameters": {
                                "type": 234679
                            },
                            "mapper": {
                                "json": "{{16.json}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 150
                                },
                                "restore": {
                                    "type": {
                                        "label": "Anvyl - Other Cost - Items"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "type",
                                        "type": "udt",
                                        "label": "Data structure"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "json",
                                        "type": "text",
                                        "label": "JSON string",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "unit_of_measure",
                                        "type": "text"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "quantity",
                                        "type": "number"
                                    },
                                    {
                                        "name": "unit_price_micros",
                                        "type": "number"
                                    },
                                    {
                                        "name": "part_id",
                                        "type": "number",
                                        "label": null,
                                        "default": null,
                                        "required": false
                                    }
                                ]
                            }
                        },
                        {
                            "id": 20,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 3
                            },
                            "mapper": {
                                "name": "{{22.name}}",
                                "part_id": "{{22.part_id}}",
                                "quantity": "{{22.quantity}}",
                                "unit_of_measure": "{{22.unit_of_measure}}",
                                "unit_price_micros": "{{22.unit_price_micros}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 150
                                },
                                "restore": {
                                    "feeder": {
                                        "label": "POs - Search Rows [3]"
                                    },
                                    "mapper": {
                                        "label": [
                                            null,
                                            null,
                                            null,
                                            null,
                                            null
                                        ]
                                    },
                                    "target": {
                                        "label": "Custom"
                                    }
                                },
                                "advanced": true
                            },
                            "flags": {
                                "groupBy": "{{3.`0`}}"
                            }
                        },
                        {
                            "id": 28,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": false,
                                "useNewZLibDeCompress": "true"
                            },
                            "mapper": {
                                "ca": "",
                                "qs": [],
                                "url": "https://api.anvyl.com/api/v1/teams/826/purchase_orders?filter[order_number]={{20.`__IMTKEY__`}}",
                                "gzip": true,
                                "method": "get",
                                "headers": [
                                    {
                                        "name": "Authorization",
                                        "value": "9pCUx1dA.NhdfVA4rhHgwPKW2rC81yWlda5qZGA8v"
                                    },
                                    {
                                        "name": "Accept",
                                        "value": "application/json"
                                    }
                                ],
                                "timeout": "",
                                "useMtls": false,
                                "authPass": "",
                                "authUser": "",
                                "bodyType": "",
                                "serializeUrl": false,
                                "shareCookies": false,
                                "parseResponse": true,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 150,
                                    "name": "GET PO by Number"
                                },
                                "restore": {
                                    "qs": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "method": {
                                        "mode": "chose",
                                        "label": "GET"
                                    },
                                    "headers": {
                                        "mode": "chose",
                                        "items": [
                                            "undefined",
                                            "undefined"
                                        ]
                                    },
                                    "bodyType": {
                                        "label": ""
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    },
                                    {
                                        "name": "useNewZLibDeCompress",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers",
                                        "labels": {
                                            "add": "Add a header",
                                            "edit": "Edit a header"
                                        }
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String",
                                        "labels": {
                                            "add": "Add parameter",
                                            "edit": "Edit parameter"
                                        }
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate",
                                        "multiline": true
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 30,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 150
                                }
                            },
                            "routes": [
                                {
                                    "disabled": true,
                                    "flow": [
                                        {
                                            "id": 21,
                                            "module": "json:CreateJSON",
                                            "version": 1,
                                            "parameters": {
                                                "type": 234680,
                                                "space": ""
                                            },
                                            "filter": {
                                                "name": "existed POs",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{28.data.purchase_orders[].id}}",
                                                            "b": "",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "purchase_order": {
                                                    "order_items": "{{20.array}}"
                                                }
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 0,
                                                    "name": "PO - UPDATE - Other items"
                                                },
                                                "restore": {
                                                    "type": {
                                                        "label": "Anvyl - UPDATE - Other Cost Items"
                                                    },
                                                    "space": {
                                                        "label": ""
                                                    },
                                                    "purchase_order": {
                                                        "nested": {
                                                            "order_items": {
                                                                "mode": "edit"
                                                            }
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "type",
                                                        "type": "udt",
                                                        "label": "Data structure",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "space",
                                                        "type": "select",
                                                        "label": "Indentation",
                                                        "validate": {
                                                            "enum": [
                                                                "tab",
                                                                "2",
                                                                "4"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "purchase_order",
                                                        "spec": [
                                                            {
                                                                "name": "order_items",
                                                                "spec": [
                                                                    {
                                                                        "name": "unit_of_measure",
                                                                        "type": "text"
                                                                    },
                                                                    {
                                                                        "name": "name",
                                                                        "type": "text"
                                                                    },
                                                                    {
                                                                        "name": "quantity",
                                                                        "type": "number"
                                                                    },
                                                                    {
                                                                        "name": "unit_price_micros",
                                                                        "type": "number"
                                                                    }
                                                                ],
                                                                "type": "array"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "purchase_order"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 25,
                                            "module": "http:ActionSendData",
                                            "version": 3,
                                            "parameters": {
                                                "handleErrors": false,
                                                "useNewZLibDeCompress": "true"
                                            },
                                            "mapper": {
                                                "ca": "",
                                                "qs": [],
                                                "url": "https://api.anvyl.com/api/v1/teams/826/purchase_orders/{{28.data.purchase_orders[].id}}",
                                                "data": "{{21.json}}",
                                                "gzip": true,
                                                "method": "patch",
                                                "headers": [
                                                    {
                                                        "name": "Authorization",
                                                        "value": "9pCUx1dA.NhdfVA4rhHgwPKW2rC81yWlda5qZGA8v"
                                                    },
                                                    {
                                                        "name": "Accept",
                                                        "value": "application/json"
                                                    }
                                                ],
                                                "timeout": "",
                                                "useMtls": false,
                                                "authPass": "",
                                                "authUser": "",
                                                "bodyType": "raw",
                                                "contentType": "application/json",
                                                "serializeUrl": false,
                                                "shareCookies": false,
                                                "parseResponse": true,
                                                "followRedirect": true,
                                                "useQuerystring": false,
                                                "followAllRedirects": false,
                                                "rejectUnauthorized": true
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2400,
                                                    "y": 0,
                                                    "name": "UPDATE PO"
                                                },
                                                "restore": {
                                                    "qs": {
                                                        "mode": "chose",
                                                        "items": []
                                                    },
                                                    "method": {
                                                        "mode": "chose",
                                                        "label": "PATCH"
                                                    },
                                                    "headers": {
                                                        "mode": "chose",
                                                        "items": [
                                                            "undefined",
                                                            "undefined"
                                                        ]
                                                    },
                                                    "bodyType": {
                                                        "label": "Raw"
                                                    },
                                                    "contentType": {
                                                        "label": "JSON (application/json)"
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "handleErrors",
                                                        "type": "boolean",
                                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useNewZLibDeCompress",
                                                        "type": "hidden"
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "serializeUrl",
                                                        "type": "boolean",
                                                        "label": "Serialize URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "method",
                                                        "type": "select",
                                                        "label": "Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "get",
                                                                "head",
                                                                "post",
                                                                "put",
                                                                "patch",
                                                                "delete",
                                                                "options"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Headers",
                                                        "labels": {
                                                            "add": "Add a header",
                                                            "edit": "Edit a header"
                                                        }
                                                    },
                                                    {
                                                        "name": "qs",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Query String",
                                                        "labels": {
                                                            "add": "Add parameter",
                                                            "edit": "Edit parameter"
                                                        }
                                                    },
                                                    {
                                                        "name": "bodyType",
                                                        "type": "select",
                                                        "label": "Body type",
                                                        "validate": {
                                                            "enum": [
                                                                "raw",
                                                                "x_www_form_urlencoded",
                                                                "multipart_form_data"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "parseResponse",
                                                        "type": "boolean",
                                                        "label": "Parse response",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "authUser",
                                                        "type": "text",
                                                        "label": "User name"
                                                    },
                                                    {
                                                        "name": "authPass",
                                                        "type": "password",
                                                        "label": "Password"
                                                    },
                                                    {
                                                        "name": "timeout",
                                                        "type": "uinteger",
                                                        "label": "Timeout",
                                                        "validate": {
                                                            "max": 300,
                                                            "min": 1
                                                        }
                                                    },
                                                    {
                                                        "name": "shareCookies",
                                                        "type": "boolean",
                                                        "label": "Share cookies with other HTTP modules",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "ca",
                                                        "type": "cert",
                                                        "label": "Self-signed certificate",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "rejectUnauthorized",
                                                        "type": "boolean",
                                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "followRedirect",
                                                        "type": "boolean",
                                                        "label": "Follow redirect",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useQuerystring",
                                                        "type": "boolean",
                                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "gzip",
                                                        "type": "boolean",
                                                        "label": "Request compressed content",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useMtls",
                                                        "type": "boolean",
                                                        "label": "Use Mutual TLS",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "contentType",
                                                        "type": "select",
                                                        "label": "Content type",
                                                        "validate": {
                                                            "enum": [
                                                                "text/plain",
                                                                "application/json",
                                                                "application/xml",
                                                                "text/xml",
                                                                "text/html",
                                                                "custom"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "data",
                                                        "type": "buffer",
                                                        "label": "Request content"
                                                    },
                                                    {
                                                        "name": "followAllRedirects",
                                                        "type": "boolean",
                                                        "label": "Follow all redirect",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 31,
                                            "module": "builtin:BasicFeeder",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "new POs",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{28.data.purchase_orders[].id}}",
                                                            "b": "",
                                                            "o": "notexist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "array": "{{20.`__IMTKEY__`}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 300,
                                                    "messages": [
                                                        {
                                                            "category": "last",
                                                            "severity": "warning",
                                                            "message": "A transformer should not be the last module in the route."
                                                        }
                                                    ]
                                                },
                                                "restore": {
                                                    "array": {
                                                        "mode": "edit"
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "mode": "edit",
                                                        "name": "array",
                                                        "spec": [],
                                                        "type": "array",
                                                        "label": "Array"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "shatter": false,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}