integration/integromat/exported/20221219/DEL Pricing Tier for Vendor SKU.json
{
    "name": "DEL: Pricing Tier for Vendor SKU",
    "flow": [
        {
            "id": 9,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1400041,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "hook": {
                        "label": "DEL: Pricing Tier for Vendor SKU"
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "recordID",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "skubana_api_slug",
                        "value": "https://api.skubana.com"
                    },
                    {
                        "name": "skubana_access_token",
                        "value": "ab0e575e-113f-46f5-9c15-c86f019e56c2"
                    },
                    {
                        "name": "v_receipt_1",
                        "value": "martin@nolk.com"
                    },
                    {
                        "name": "GET: Skubana Products",
                        "value": "/v1.1/products"
                    },
                    {
                        "name": "GET: Single Skubana Product",
                        "value": "/v1.1/product"
                    },
                    {
                        "name": "PUT: Skubana Core",
                        "value": "/v1.1/products/cores"
                    },
                    {
                        "name": "PUT: Skubana Bundles",
                        "value": "/v1.1/products/bundles"
                    },
                    {
                        "name": "GET: Skubana VendorProduct",
                        "value": "/v1/vendorproducts"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "scope": {
                        "label": "One cycle"
                    },
                    "variables": {
                        "items": [
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined"
                        ]
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "skubana_api_slug",
                        "type": "any",
                        "label": "skubana_api_slug"
                    },
                    {
                        "name": "skubana_access_token",
                        "type": "any",
                        "label": "skubana_access_token"
                    },
                    {
                        "name": "v_receipt_1",
                        "type": "any",
                        "label": "v_receipt_1"
                    },
                    {
                        "name": "GET: Skubana Products",
                        "type": "any",
                        "label": "GET: Skubana Products"
                    },
                    {
                        "name": "GET: Single Skubana Product",
                        "type": "any",
                        "label": "GET: Single Skubana Product"
                    },
                    {
                        "name": "PUT: Skubana Core",
                        "type": "any",
                        "label": "PUT: Skubana Core"
                    },
                    {
                        "name": "PUT: Skubana Bundles",
                        "type": "any",
                        "label": "PUT: Skubana Bundles"
                    },
                    {
                        "name": "GET: Skubana VendorProduct",
                        "type": "any",
                        "label": "GET: Skubana VendorProduct"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "airtable:ActionGetRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 3543976
            },
            "mapper": {
                "id": "{{9.recordID}}",
                "base": "appYS5dIeZyo4f0cy",
                "table": "Vendor SKU Pricing",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                },
                "restore": {
                    "base": {
                        "mode": "chose",
                        "label": "Skubana Environment"
                    },
                    "table": {
                        "mode": "chose",
                        "label": "Vendor SKU Pricing"
                    },
                    "__IMTCONN__": {
                        "label": "Nolk OS Airtable"
                    },
                    "useColumnId": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Tier",
                        "type": "text",
                        "label": "Tier"
                    },
                    {
                        "name": "Vendor Product",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Vendor Product"
                    },
                    {
                        "name": "Product (from Vendor Product)",
                        "type": "array",
                        "label": "Product (from Vendor Product)"
                    },
                    {
                        "name": "TierID",
                        "type": "text",
                        "label": "TierID"
                    },
                    {
                        "name": "Vendor Sku (from Vendor Product)",
                        "type": "array",
                        "label": "Vendor Sku (from Vendor Product)"
                    },
                    {
                        "name": "vendorProductId",
                        "type": "array",
                        "label": "vendorProductId"
                    },
                    {
                        "name": "Cost",
                        "type": "number",
                        "label": "Cost"
                    },
                    {
                        "name": "Currency",
                        "type": "text",
                        "label": "Currency"
                    },
                    {
                        "name": "fromQuantity",
                        "type": "number",
                        "label": "fromQuantity"
                    },
                    {
                        "name": "toQuantity",
                        "type": "number",
                        "label": "toQuantity"
                    },
                    {
                        "name": "Created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "Last Modified",
                        "type": "date",
                        "label": "Last Modified"
                    },
                    {
                        "name": "DEL: Pricing Tier",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "DEL: Pricing Tier"
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{12.vendorProductId}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                },
                "restore": {
                    "array": {
                        "mode": "edit"
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": "true"
            },
            "mapper": {
                "ca": "",
                "qs": [
                    {
                        "name": "pricingTierId",
                        "value": "{{12.TierID}}"
                    }
                ],
                "url": "{{3.skubana_api_slug}}/v1/vendors/products/{{13.value}}/pricingtiers",
                "gzip": true,
                "method": "delete",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer {{3.skubana_access_token}}"
                    }
                ],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150,
                    "name": "DEL: PricingTier for VendorSKU"
                },
                "restore": {
                    "qs": {
                        "mode": "chose",
                        "items": [
                            "undefined"
                        ]
                    },
                    "method": {
                        "mode": "chose",
                        "label": "DELETE"
                    },
                    "headers": {
                        "mode": "chose",
                        "items": [
                            "undefined"
                        ]
                    },
                    "bodyType": {
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers",
                        "labels": {
                            "add": "Add a header",
                            "edit": "Edit a header"
                        }
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String",
                        "labels": {
                            "add": "Add parameter",
                            "edit": "Edit parameter"
                        }
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate",
                        "multiline": true
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 14,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "airtable:upsertRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 3543976
                            },
                            "filter": {
                                "name": "Status NOT = 200",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.statusCode}}",
                                            "b": "200",
                                            "o": "number:notequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "base": "appYS5dIeZyo4f0cy",
                                "table": "Vendor SKU Pricing",
                                "record": {
                                    "fldasf7VqY72fMsl5": "Failed to Delete - contact an admin for assistance"
                                },
                                "recordId": "{{9.recordID}}",
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0,
                                    "name": "Update Tier: Failed to Delete"
                                },
                                "restore": {
                                    "base": {
                                        "label": "Skubana Environment"
                                    },
                                    "table": {
                                        "label": "Vendor SKU Pricing"
                                    },
                                    "record": {
                                        "nested": {
                                            "fldaksJWbE6xySFoM": {
                                                "mode": "chose",
                                                "items": []
                                            }
                                        }
                                    },
                                    "typecast": {
                                        "mode": "chose"
                                    },
                                    "__IMTCONN__": {
                                        "label": "Nolk OS Airtable"
                                    },
                                    "useColumnId": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "recordId",
                                        "type": "text",
                                        "label": "Record ID"
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldaksJWbE6xySFoM",
                                                "spec": {
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Vendor Product"
                                            },
                                            {
                                                "name": "fldTiKAuEcTB6s039",
                                                "type": "text",
                                                "label": "TierID"
                                            },
                                            {
                                                "name": "fldw7Wiy3fM0Irmqw",
                                                "type": "number",
                                                "label": "Cost"
                                            },
                                            {
                                                "name": "fld0lLml1tm1mdniu",
                                                "type": "text",
                                                "label": "Currency"
                                            },
                                            {
                                                "name": "fldP3hMUK8lU91z0b",
                                                "type": "number",
                                                "label": "fromQuantity"
                                            },
                                            {
                                                "name": "fldEwCfN3rRNHFCXz",
                                                "type": "number",
                                                "label": "toQuantity"
                                            },
                                            {
                                                "name": "fldasf7VqY72fMsl5",
                                                "type": "text",
                                                "label": "Automation Status Entry"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Tier",
                                        "type": "text",
                                        "label": "Tier"
                                    },
                                    {
                                        "name": "Vendor Product",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Vendor Product"
                                    },
                                    {
                                        "name": "DEL: Pricing Tier",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "DEL: Pricing Tier"
                                    },
                                    {
                                        "name": "Status",
                                        "type": "text",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "Product (from Vendor Product)",
                                        "type": "array",
                                        "label": "Product (from Vendor Product)"
                                    },
                                    {
                                        "name": "TierID",
                                        "type": "text",
                                        "label": "TierID"
                                    },
                                    {
                                        "name": "Vendor Sku (from Vendor Product)",
                                        "type": "array",
                                        "label": "Vendor Sku (from Vendor Product)"
                                    },
                                    {
                                        "name": "vendorProductId",
                                        "type": "array",
                                        "label": "vendorProductId"
                                    },
                                    {
                                        "name": "Cost",
                                        "type": "number",
                                        "label": "Cost"
                                    },
                                    {
                                        "name": "Currency",
                                        "type": "text",
                                        "label": "Currency"
                                    },
                                    {
                                        "name": "fromQuantity",
                                        "type": "number",
                                        "label": "fromQuantity"
                                    },
                                    {
                                        "name": "toQuantity",
                                        "type": "number",
                                        "label": "toQuantity"
                                    },
                                    {
                                        "name": "Created",
                                        "type": "date",
                                        "label": "Created"
                                    },
                                    {
                                        "name": "Last Modified",
                                        "type": "date",
                                        "label": "Last Modified"
                                    },
                                    {
                                        "name": "Automation Status Entry",
                                        "type": "text",
                                        "label": "Automation Status Entry"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 15,
                            "module": "airtable:ActionDeleteRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 3543976
                            },
                            "filter": {
                                "name": "Status = 200 for Tier Delete",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.statusCode}}",
                                            "b": "200",
                                            "o": "number:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "id": "{{9.recordID}}",
                                "base": "appYS5dIeZyo4f0cy",
                                "table": "Vendor SKU Pricing"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 300
                                },
                                "restore": {
                                    "base": {
                                        "mode": "chose",
                                        "label": "Skubana Environment"
                                    },
                                    "table": {
                                        "mode": "chose",
                                        "label": "Vendor SKU Pricing"
                                    },
                                    "__IMTCONN__": {
                                        "label": "Nolk OS Airtable"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "shatter": false,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}