integration/integromat/exported/20221219/PIM - Fetch SKUBANA Master SKU Incomplete info.json
{
    "name": "PIM - Fetch SKUBANA Master SKU Incomplete info",
    "flow": [
        {
            "id": 9,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "skubana_api_slug",
                        "value": "https://api.skubana.com"
                    },
                    {
                        "name": "skubana_access_token",
                        "value": "ab0e575e-113f-46f5-9c15-c86f019e56c2"
                    },
                    {
                        "name": "v_receipt_1",
                        "value": "martin@nolk.com"
                    },
                    {
                        "name": "GET: Skubana Products",
                        "value": "/v1.1/products"
                    },
                    {
                        "name": "GET: Single Skubana Product",
                        "value": "/v1.1/product"
                    },
                    {
                        "name": "PUT: Skubana Core",
                        "value": "/v1.1/products/cores"
                    },
                    {
                        "name": "PUT: Skubana Bundles",
                        "value": "/v1.1/products/bundles"
                    },
                    {
                        "name": "active",
                        "value": "true"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "scope": {
                        "label": "One cycle"
                    },
                    "variables": {
                        "items": [
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined"
                        ]
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "skubana_api_slug",
                        "type": "any",
                        "label": "skubana_api_slug"
                    },
                    {
                        "name": "skubana_access_token",
                        "type": "any",
                        "label": "skubana_access_token"
                    },
                    {
                        "name": "v_receipt_1",
                        "type": "any",
                        "label": "v_receipt_1"
                    },
                    {
                        "name": "GET: Skubana Products",
                        "type": "any",
                        "label": "GET: Skubana Products"
                    },
                    {
                        "name": "GET: Single Skubana Product",
                        "type": "any",
                        "label": "GET: Single Skubana Product"
                    },
                    {
                        "name": "PUT: Skubana Core",
                        "type": "any",
                        "label": "PUT: Skubana Core"
                    },
                    {
                        "name": "PUT: Skubana Bundles",
                        "type": "any",
                        "label": "PUT: Skubana Bundles"
                    },
                    {
                        "name": "active",
                        "type": "any",
                        "label": "active"
                    }
                ]
            }
        },
        {
            "id": 118,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 3543976
            },
            "mapper": {
                "base": "appQD8vyOEbpbsJR9",
                "view": "viwtp0JvaDIV4bZwn",
                "table": "SKUs",
                "maxRecords": "120",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "PIM - Sync Master SKU - Incomplete"
                },
                "restore": {
                    "base": {
                        "mode": "chose",
                        "label": "Nolk PIM V2"
                    },
                    "sort": {
                        "mode": "chose",
                        "items": []
                    },
                    "view": {
                        "mode": "chose",
                        "label": "Rachel - SKU Weight"
                    },
                    "table": {
                        "mode": "chose",
                        "label": "SKUs"
                    },
                    "__IMTCONN__": {
                        "label": "Nolk OS Airtable"
                    },
                    "useColumnId": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field"
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Nolk SKU",
                        "type": "text",
                        "label": "Nolk SKU"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "Sync Master SKU",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Sync Master SKU"
                    },
                    {
                        "name": "Marketing Name",
                        "type": "text",
                        "label": "Marketing Name"
                    },
                    {
                        "name": "Brand",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Brand"
                    },
                    {
                        "name": "Product Type",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Product Type"
                    },
                    {
                        "name": "Model (m)",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Model (m)"
                    },
                    {
                        "name": "Variant (v)",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Variant (v)"
                    },
                    {
                        "name": "Color (c)",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Color (c)"
                    },
                    {
                        "name": "Size (s)",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Size (s)"
                    },
                    {
                        "name": "Labels",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Labels"
                    },
                    {
                        "name": "UPC",
                        "type": "text",
                        "label": "UPC"
                    },
                    {
                        "name": "Vendor",
                        "type": "text",
                        "label": "Vendor"
                    },
                    {
                        "name": "Master SKU",
                        "type": "text",
                        "label": "Master SKU"
                    },
                    {
                        "name": "Master SKU - Sync Status",
                        "type": "text",
                        "label": "Master SKU - Sync Status"
                    },
                    {
                        "name": "Master SKU - Synced Date",
                        "time": true,
                        "type": "date",
                        "label": "Master SKU - Synced Date"
                    },
                    {
                        "name": "Nolk Name",
                        "type": "text",
                        "label": "Nolk Name"
                    },
                    {
                        "name": "Version (x)",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Version (x)"
                    },
                    {
                        "name": "Bundled Product 1",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Bundled Product 1"
                    },
                    {
                        "name": "Quantity 1",
                        "type": "number",
                        "label": "Quantity 1"
                    },
                    {
                        "name": "Bundled Product 2",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Bundled Product 2"
                    },
                    {
                        "name": "Quantity 2",
                        "type": "number",
                        "label": "Quantity 2"
                    },
                    {
                        "name": "Bundled Product 3",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Bundled Product 3"
                    },
                    {
                        "name": "Quantity 3",
                        "type": "number",
                        "label": "Quantity 3"
                    },
                    {
                        "name": "Bundled Product 4",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Bundled Product 4"
                    },
                    {
                        "name": "Quantity 4",
                        "type": "number",
                        "label": "Quantity 4"
                    },
                    {
                        "name": "Bundled Product 5",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Bundled Product 5"
                    },
                    {
                        "name": "Quantity 5",
                        "type": "number",
                        "label": "Quantity 5"
                    },
                    {
                        "name": "Last Modified",
                        "time": true,
                        "type": "date",
                        "label": "Last Modified"
                    },
                    {
                        "name": "Created",
                        "time": true,
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "Default Name",
                        "type": "text",
                        "label": "Default Name"
                    },
                    {
                        "name": "SKU Type",
                        "type": "text",
                        "label": "SKU Type"
                    },
                    {
                        "name": "Standardized SKU",
                        "type": "text",
                        "label": "Standardized SKU"
                    },
                    {
                        "name": "Skubana - Product Id",
                        "type": "text",
                        "label": "Skubana - Product Id"
                    },
                    {
                        "name": "Weight",
                        "type": "number",
                        "label": "Weight"
                    },
                    {
                        "name": "Weight Unit",
                        "type": "text",
                        "label": "Weight Unit"
                    },
                    {
                        "name": "Weight (grams)",
                        "type": "text",
                        "label": "Weight (grams)"
                    },
                    {
                        "name": "Default Vendor SKU",
                        "type": "text",
                        "label": "Default Vendor SKU"
                    },
                    {
                        "name": "Default Vendor SKU - Status",
                        "type": "text",
                        "label": "Default Vendor SKU - Status"
                    },
                    {
                        "name": "Create Default Vendor SKU",
                        "type": "text",
                        "label": "Create Default Vendor SKU"
                    },
                    {
                        "name": "Description",
                        "type": "text",
                        "label": "Description",
                        "multiline": true
                    },
                    {
                        "name": "Abbreviation (from Brand)",
                        "type": "array",
                        "label": "Abbreviation (from Brand)"
                    },
                    {
                        "name": "Abbreviation (from Product Type)",
                        "type": "array",
                        "label": "Abbreviation (from Product Type)"
                    },
                    {
                        "name": "Abbreviation (from Model (m))",
                        "type": "array",
                        "label": "Abbreviation (from Model (m))"
                    },
                    {
                        "name": "Abbreviation (from Variant (v))",
                        "type": "array",
                        "label": "Abbreviation (from Variant (v))"
                    },
                    {
                        "name": "Abbreviation (from Size (s))",
                        "type": "array",
                        "label": "Abbreviation (from Size (s))"
                    },
                    {
                        "name": "Abbreviation (from Color (c))",
                        "type": "array",
                        "label": "Abbreviation (from Color (c))"
                    },
                    {
                        "name": "Abbreviation (from Version (x))",
                        "type": "array",
                        "label": "Abbreviation (from Version (x))"
                    },
                    {
                        "name": "Master SKUs from OMS's",
                        "type": "text",
                        "label": "Master SKUs from OMS's"
                    },
                    {
                        "name": "Change?",
                        "type": "text",
                        "label": "Change?"
                    },
                    {
                        "name": "Name (from Brand)",
                        "type": "array",
                        "label": "Name (from Brand)"
                    },
                    {
                        "name": "Value (from Product Type)",
                        "type": "array",
                        "label": "Value (from Product Type)"
                    },
                    {
                        "name": "Value (from Model (m))",
                        "type": "array",
                        "label": "Value (from Model (m))"
                    },
                    {
                        "name": "Value (from Variant (v))",
                        "type": "array",
                        "label": "Value (from Variant (v))"
                    },
                    {
                        "name": "Value (from Size (s))",
                        "type": "array",
                        "label": "Value (from Size (s))"
                    },
                    {
                        "name": "Value (from Color (c))",
                        "type": "array",
                        "label": "Value (from Color (c))"
                    },
                    {
                        "name": "Value (from Version (x))",
                        "type": "array",
                        "label": "Value (from Version (x))"
                    },
                    {
                        "name": "Value (from Labels)",
                        "type": "array",
                        "label": "Value (from Labels)"
                    },
                    {
                        "name": "Nolk SKU (from Bundled Product 1)",
                        "type": "array",
                        "label": "Nolk SKU (from Bundled Product 1)"
                    },
                    {
                        "name": "Nolk SKU (from Bundled Product 2)",
                        "type": "array",
                        "label": "Nolk SKU (from Bundled Product 2)"
                    },
                    {
                        "name": "Nolk SKU (from Bundled Product 3)",
                        "type": "array",
                        "label": "Nolk SKU (from Bundled Product 3)"
                    },
                    {
                        "name": "Nolk SKU (from Bundled Product 4)",
                        "type": "array",
                        "label": "Nolk SKU (from Bundled Product 4)"
                    },
                    {
                        "name": "Nolk SKU (from Bundled Product 5)",
                        "type": "array",
                        "label": "Nolk SKU (from Bundled Product 5)"
                    },
                    {
                        "name": "Skubana - Product Id (from Bundled Product 1)",
                        "type": "array",
                        "label": "Skubana - Product Id (from Bundled Product 1)"
                    },
                    {
                        "name": "Skubana - Product Id (from Bundled Product 2)",
                        "type": "array",
                        "label": "Skubana - Product Id (from Bundled Product 2)"
                    },
                    {
                        "name": "Skubana - Product Id (from Bundled Product 3)",
                        "type": "array",
                        "label": "Skubana - Product Id (from Bundled Product 3)"
                    },
                    {
                        "name": "Skubana - Product Id (from Bundled Product 4)",
                        "type": "array",
                        "label": "Skubana - Product Id (from Bundled Product 4)"
                    },
                    {
                        "name": "Skubana - Product Id (from Bundled Product 5)",
                        "type": "array",
                        "label": "Skubana - Product Id (from Bundled Product 5)"
                    },
                    {
                        "name": "Listings",
                        "type": "text",
                        "label": "Listings"
                    },
                    {
                        "name": "Listings 2",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Listings 2"
                    },
                    {
                        "name": "Created By",
                        "type": "text",
                        "label": "Created By"
                    },
                    {
                        "name": "Last Modified By",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "email",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "collection",
                        "label": "Last Modified By"
                    },
                    {
                        "name": "Nolk SKU copy",
                        "type": "text",
                        "label": "Nolk SKU copy"
                    }
                ]
            }
        },
        {
            "id": 121,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": "true"
            },
            "mapper": {
                "ca": "",
                "qs": [
                    {
                        "name": "recordID",
                        "value": "{{118.id}}"
                    }
                ],
                "url": "https://hook.integromat.com/fopv8f26imvm6orptcsje5dc07ov7u7l",
                "gzip": true,
                "method": "post",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": false,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "PIM - Record Level - Sync Master SKU"
                },
                "restore": {
                    "qs": {
                        "mode": "chose",
                        "items": [
                            "undefined"
                        ]
                    },
                    "method": {
                        "mode": "chose",
                        "label": "POST"
                    },
                    "headers": {
                        "mode": "chose",
                        "items": []
                    },
                    "bodyType": {
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers",
                        "labels": {
                            "add": "Add a header",
                            "edit": "Edit a header"
                        }
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String",
                        "labels": {
                            "add": "Add parameter",
                            "edit": "Edit parameter"
                        }
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate",
                        "multiline": true
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "shatter": false,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 93,
                    "text": "Goes to this scenario:\nhttps://www.integromat.com/scenario/3150510",
                    "filter": false
                },
                {
                    "id": 94,
                    "text": "Goes to this scenario:\nhttps://www.integromat.com/scenario/3150501/edit",
                    "filter": false
                }
            ]
        },
        "zone": "eu1.integromat.com"
    }
}