integration/integromat/exported/20221219/Weekly Sync Vendors.json
{
    "name": "Weekly Sync: Vendors",
    "flow": [
        {
            "id": 2,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "skubana_api_slug",
                        "value": "https://api.skubana.com"
                    },
                    {
                        "name": "skubana_access_token",
                        "value": "ab0e575e-113f-46f5-9c15-c86f019e56c2"
                    },
                    {
                        "name": "v_receipt_1",
                        "value": "martin@nolk.com"
                    },
                    {
                        "name": "GET: Skubana Products",
                        "value": "/v1.1/products"
                    },
                    {
                        "name": "GET: Skubana Vendors",
                        "value": "/v1/vendors"
                    },
                    {
                        "name": "GET: Vendor Products",
                        "value": "/v1/vendorproducts"
                    },
                    {
                        "name": "GET: Single Skubana Product",
                        "value": "/v1.1/product"
                    },
                    {
                        "name": "PUT: Skubana Vendor",
                        "value": "/v1/vendors"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300
                },
                "restore": {
                    "scope": {
                        "label": "One cycle"
                    },
                    "variables": {
                        "items": [
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined"
                        ]
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "skubana_api_slug",
                        "type": "any",
                        "label": "skubana_api_slug"
                    },
                    {
                        "name": "skubana_access_token",
                        "type": "any",
                        "label": "skubana_access_token"
                    },
                    {
                        "name": "v_receipt_1",
                        "type": "any",
                        "label": "v_receipt_1"
                    },
                    {
                        "name": "GET: Skubana Products",
                        "type": "any",
                        "label": "GET: Skubana Products"
                    },
                    {
                        "name": "GET: Skubana Vendors",
                        "type": "any",
                        "label": "GET: Skubana Vendors"
                    },
                    {
                        "name": "GET: Vendor Products",
                        "type": "any",
                        "label": "GET: Vendor Products"
                    },
                    {
                        "name": "GET: Single Skubana Product",
                        "type": "any",
                        "label": "GET: Single Skubana Product"
                    },
                    {
                        "name": "PUT: Skubana Vendor",
                        "type": "any",
                        "label": "PUT: Skubana Vendor"
                    }
                ]
            }
        },
        {
            "id": 86,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "builtin:BasicRepeater",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "step": "1",
                                "start": "1",
                                "repeats": "5"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "expect": [
                                    {
                                        "name": "start",
                                        "type": "number",
                                        "label": "Initial value",
                                        "required": true
                                    },
                                    {
                                        "name": "repeats",
                                        "type": "number",
                                        "label": "Repeats",
                                        "required": true,
                                        "validate": {
                                            "max": 10000,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "step",
                                        "type": "number",
                                        "label": "Step",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 4,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": false,
                                "useNewZLibDeCompress": "true"
                            },
                            "mapper": {
                                "ca": "",
                                "qs": [
                                    {
                                        "name": "page",
                                        "value": "{{8.i}}"
                                    }
                                ],
                                "url": "{{2.skubana_api_slug}}{{2.`GET: Skubana Vendors`}}",
                                "gzip": true,
                                "method": "get",
                                "headers": [
                                    {
                                        "name": "Authorization",
                                        "value": "Bearer {{2.skubana_access_token}}"
                                    }
                                ],
                                "timeout": "",
                                "useMtls": false,
                                "authPass": "",
                                "authUser": "",
                                "bodyType": "",
                                "serializeUrl": false,
                                "shareCookies": false,
                                "parseResponse": true,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "qs": {
                                        "mode": "chose",
                                        "items": [
                                            "undefined"
                                        ]
                                    },
                                    "method": {
                                        "mode": "chose",
                                        "label": "GET"
                                    },
                                    "headers": {
                                        "mode": "chose",
                                        "items": [
                                            "undefined"
                                        ]
                                    },
                                    "bodyType": {
                                        "label": ""
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    },
                                    {
                                        "name": "useNewZLibDeCompress",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers",
                                        "labels": {
                                            "add": "Add a header",
                                            "edit": "Edit a header"
                                        }
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String",
                                        "labels": {
                                            "add": "Add parameter",
                                            "edit": "Edit parameter"
                                        }
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate",
                                        "multiline": true
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 22,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Status = 200",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.statusCode}}",
                                            "b": "200",
                                            "o": "number:equal"
                                        },
                                        {
                                            "a": "{{4.fileSize}}",
                                            "b": "5",
                                            "o": "number:greater"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "array": "{{4.data}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "array": {
                                        "mode": "edit"
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 20,
                            "module": "airtable:ActionSearchRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 3543976
                            },
                            "mapper": {
                                "base": "appYS5dIeZyo4f0cy",
                                "table": "Vendors",
                                "formula": "{VendorID} = \"{{22.vendorId}}\"",
                                "maxRecords": "1",
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "base": {
                                        "mode": "chose",
                                        "label": "Skubana Environment"
                                    },
                                    "sort": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "view": {
                                        "mode": "chose",
                                        "label": ""
                                    },
                                    "table": {
                                        "mode": "chose",
                                        "label": "Vendors"
                                    },
                                    "__IMTCONN__": {
                                        "label": "Nolk OS Airtable"
                                    },
                                    "useColumnId": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "maxRecords",
                                        "type": "integer",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "sort",
                                        "spec": [
                                            {
                                                "name": "field",
                                                "type": "select",
                                                "label": "Field"
                                            },
                                            {
                                                "name": "direction",
                                                "type": "select",
                                                "label": "Direction",
                                                "options": [
                                                    {
                                                        "label": "Descending",
                                                        "value": "desc"
                                                    },
                                                    {
                                                        "label": "Ascending",
                                                        "value": "asc"
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Sort"
                                    },
                                    {
                                        "name": "view",
                                        "type": "select",
                                        "label": "View"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "Address",
                                        "type": "text",
                                        "label": "Address",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Contact Email",
                                        "type": "text",
                                        "label": "Contact Email"
                                    },
                                    {
                                        "name": "Purchase Order Email",
                                        "type": "text",
                                        "label": "Purchase Order Email"
                                    },
                                    {
                                        "name": "Contact Phone",
                                        "type": "text",
                                        "label": "Contact Phone"
                                    },
                                    {
                                        "name": "defaultPaymentTermId",
                                        "type": "text",
                                        "label": "defaultPaymentTermId"
                                    },
                                    {
                                        "name": "defaultPurchaseOrderFormat",
                                        "type": "text",
                                        "label": "defaultPurchaseOrderFormat"
                                    },
                                    {
                                        "name": "Dropshipper?",
                                        "type": "text",
                                        "label": "Dropshipper?"
                                    },
                                    {
                                        "name": "Manufacturer?",
                                        "type": "text",
                                        "label": "Manufacturer?"
                                    },
                                    {
                                        "name": "Supplier?",
                                        "type": "text",
                                        "label": "Supplier?"
                                    },
                                    {
                                        "name": "VendorID",
                                        "type": "number",
                                        "label": "VendorID"
                                    },
                                    {
                                        "name": "Last Modified Time",
                                        "type": "date",
                                        "label": "Last Modified Time"
                                    },
                                    {
                                        "name": "Vendor Products",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Vendor Products"
                                    },
                                    {
                                        "name": "Count (Vendor Products)",
                                        "type": "number",
                                        "label": "Count (Vendor Products)"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 52,
                            "module": "airtable:upsertRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 3543976
                            },
                            "mapper": {
                                "base": "appYS5dIeZyo4f0cy",
                                "table": "Vendors",
                                "record": {
                                    "fld0m8S6YRsDOCnC8": "{{22.defaultPurchaseOrderFormat}}",
                                    "fld1PzVzvOiOWA8OD": "{{22.name}}",
                                    "fldACAKXMT6a5oeK3": "{{22.address.city}}",
                                    "fldCwZyzja1ZoDZMU": "{{22.defaultVendorPaymentTerm.vendorPaymentTermId}}",
                                    "fldEEc2VIylAOMIgm": "{{22.vendorId}}",
                                    "fldFcJ644BydR0mlb": "{{22.purchaseOrderEmail}}",
                                    "fldJdJg7cwxj8TP6A": "{{22.address.address1}}",
                                    "fldWHOyKLW0FoSQHk": "{{22.manufacturer}}",
                                    "fldYXba6IDSOe0sP9": "{{22.contactPhone1}}",
                                    "fldbmVzGmkPFHCUL4": "{{22.address.zipCode}}",
                                    "fldcAkahEZP2wZyGq": "{{22.contactEmail}}",
                                    "fldrxbKV3u2qICBMV": "Last Updated: {{now}}",
                                    "fldsU7WLxEfHUyJIf": "{{22.supplier}}",
                                    "flduvSwv1tnFiYNNT": "{{22.address.country}}",
                                    "fldzvJCjGSdAh6jWB": "{{22.dropshipper}}"
                                },
                                "recordId": "{{20.id}}",
                                "typecast": true,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0
                                },
                                "restore": {
                                    "base": {
                                        "label": "Skubana Environment"
                                    },
                                    "table": {
                                        "label": "Vendors"
                                    },
                                    "record": {
                                        "nested": {
                                            "fldTgKpoKziVQ7Aox": {
                                                "mode": "chose",
                                                "items": []
                                            }
                                        }
                                    },
                                    "typecast": {
                                        "mode": "chose"
                                    },
                                    "__IMTCONN__": {
                                        "label": "Nolk OS Airtable"
                                    },
                                    "useColumnId": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "recordId",
                                        "type": "text",
                                        "label": "Record ID"
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fld1PzVzvOiOWA8OD",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "fldJdJg7cwxj8TP6A",
                                                "type": "text",
                                                "label": "Address",
                                                "multiline": true
                                            },
                                            {
                                                "name": "fldcAkahEZP2wZyGq",
                                                "type": "text",
                                                "label": "Contact Email"
                                            },
                                            {
                                                "name": "fldFcJ644BydR0mlb",
                                                "type": "text",
                                                "label": "Purchase Order Email"
                                            },
                                            {
                                                "name": "fldYXba6IDSOe0sP9",
                                                "type": "text",
                                                "label": "Contact Phone"
                                            },
                                            {
                                                "name": "fldCwZyzja1ZoDZMU",
                                                "type": "text",
                                                "label": "defaultPaymentTermId"
                                            },
                                            {
                                                "name": "fld0m8S6YRsDOCnC8",
                                                "type": "text",
                                                "label": "defaultPurchaseOrderFormat"
                                            },
                                            {
                                                "name": "fldzvJCjGSdAh6jWB",
                                                "type": "text",
                                                "label": "Dropshipper?"
                                            },
                                            {
                                                "name": "fldWHOyKLW0FoSQHk",
                                                "type": "text",
                                                "label": "Manufacturer?"
                                            },
                                            {
                                                "name": "fldsU7WLxEfHUyJIf",
                                                "type": "text",
                                                "label": "Supplier?"
                                            },
                                            {
                                                "name": "fldEEc2VIylAOMIgm",
                                                "type": "number",
                                                "label": "VendorID"
                                            },
                                            {
                                                "name": "fldTgKpoKziVQ7Aox",
                                                "spec": {
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Vendor Products"
                                            },
                                            {
                                                "name": "fldrxbKV3u2qICBMV",
                                                "type": "text",
                                                "label": "Comment",
                                                "multiline": true
                                            },
                                            {
                                                "name": "fldACAKXMT6a5oeK3",
                                                "type": "text",
                                                "label": "City"
                                            },
                                            {
                                                "name": "flduvSwv1tnFiYNNT",
                                                "type": "text",
                                                "label": "Country"
                                            },
                                            {
                                                "name": "fldbmVzGmkPFHCUL4",
                                                "type": "text",
                                                "label": "Zip Code"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "Address",
                                        "type": "text",
                                        "label": "Address",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Contact Email",
                                        "type": "text",
                                        "label": "Contact Email"
                                    },
                                    {
                                        "name": "Purchase Order Email",
                                        "type": "text",
                                        "label": "Purchase Order Email"
                                    },
                                    {
                                        "name": "Contact Phone",
                                        "type": "text",
                                        "label": "Contact Phone"
                                    },
                                    {
                                        "name": "defaultPaymentTermId",
                                        "type": "text",
                                        "label": "defaultPaymentTermId"
                                    },
                                    {
                                        "name": "defaultPurchaseOrderFormat",
                                        "type": "text",
                                        "label": "defaultPurchaseOrderFormat"
                                    },
                                    {
                                        "name": "Dropshipper?",
                                        "type": "text",
                                        "label": "Dropshipper?"
                                    },
                                    {
                                        "name": "Manufacturer?",
                                        "type": "text",
                                        "label": "Manufacturer?"
                                    },
                                    {
                                        "name": "Supplier?",
                                        "type": "text",
                                        "label": "Supplier?"
                                    },
                                    {
                                        "name": "VendorID",
                                        "type": "number",
                                        "label": "VendorID"
                                    },
                                    {
                                        "name": "Last Modified Time",
                                        "type": "date",
                                        "label": "Last Modified Time"
                                    },
                                    {
                                        "name": "Vendor Products",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Vendor Products"
                                    },
                                    {
                                        "name": "Count (Vendor Products)",
                                        "type": "number",
                                        "label": "Count (Vendor Products)"
                                    },
                                    {
                                        "name": "Comment",
                                        "type": "text",
                                        "label": "Comment",
                                        "multiline": true
                                    },
                                    {
                                        "name": "City",
                                        "type": "text",
                                        "label": "City"
                                    },
                                    {
                                        "name": "Country",
                                        "type": "text",
                                        "label": "Country"
                                    },
                                    {
                                        "name": "Zip Code",
                                        "type": "text",
                                        "label": "Zip Code"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 73,
                            "module": "airtable:ActionSearchRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 3543976
                            },
                            "mapper": {
                                "base": "appYS5dIeZyo4f0cy",
                                "table": "Vendors",
                                "formula": "{VendorID} = \"\"",
                                "maxRecords": "10",
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 450
                                },
                                "restore": {
                                    "base": {
                                        "mode": "chose",
                                        "label": "Skubana Environment"
                                    },
                                    "sort": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "view": {
                                        "mode": "chose",
                                        "label": ""
                                    },
                                    "table": {
                                        "mode": "chose",
                                        "label": "Vendors"
                                    },
                                    "__IMTCONN__": {
                                        "label": "Nolk OS Airtable"
                                    },
                                    "useColumnId": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "maxRecords",
                                        "type": "integer",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "sort",
                                        "spec": [
                                            {
                                                "name": "field",
                                                "type": "select",
                                                "label": "Field"
                                            },
                                            {
                                                "name": "direction",
                                                "type": "select",
                                                "label": "Direction",
                                                "options": [
                                                    {
                                                        "label": "Descending",
                                                        "value": "desc"
                                                    },
                                                    {
                                                        "label": "Ascending",
                                                        "value": "asc"
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Sort"
                                    },
                                    {
                                        "name": "view",
                                        "type": "select",
                                        "label": "View"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "Address",
                                        "type": "text",
                                        "label": "Address",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Contact Email",
                                        "type": "text",
                                        "label": "Contact Email"
                                    },
                                    {
                                        "name": "Purchase Order Email",
                                        "type": "text",
                                        "label": "Purchase Order Email"
                                    },
                                    {
                                        "name": "Contact Phone",
                                        "type": "text",
                                        "label": "Contact Phone"
                                    },
                                    {
                                        "name": "defaultPaymentTermId",
                                        "type": "text",
                                        "label": "defaultPaymentTermId"
                                    },
                                    {
                                        "name": "defaultPurchaseOrderFormat",
                                        "type": "text",
                                        "label": "defaultPurchaseOrderFormat"
                                    },
                                    {
                                        "name": "Dropshipper?",
                                        "type": "text",
                                        "label": "Dropshipper?"
                                    },
                                    {
                                        "name": "Manufacturer?",
                                        "type": "text",
                                        "label": "Manufacturer?"
                                    },
                                    {
                                        "name": "Supplier?",
                                        "type": "text",
                                        "label": "Supplier?"
                                    },
                                    {
                                        "name": "VendorID",
                                        "type": "number",
                                        "label": "VendorID"
                                    },
                                    {
                                        "name": "Last Modified Time",
                                        "type": "date",
                                        "label": "Last Modified Time"
                                    },
                                    {
                                        "name": "Vendor Products",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Vendor Products"
                                    },
                                    {
                                        "name": "Count (Vendor Products)",
                                        "type": "number",
                                        "label": "Count (Vendor Products)"
                                    },
                                    {
                                        "name": "Comment",
                                        "type": "text",
                                        "label": "Comment"
                                    },
                                    {
                                        "name": "City",
                                        "type": "text",
                                        "label": "City"
                                    },
                                    {
                                        "name": "Country",
                                        "type": "text",
                                        "label": "Country"
                                    },
                                    {
                                        "name": "Zip Code",
                                        "type": "text",
                                        "label": "Zip Code"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 91,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 73
                            },
                            "filter": {
                                "name": "More than Zero records found",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{73.`__IMTLENGTH__`}}",
                                            "b": "0",
                                            "o": "number:greater"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "id": "{{73.id}}",
                                "City": "{{73.City}}",
                                "Name": "{{73.Name}}",
                                "Address": "{{73.Address}}",
                                "Comment": "{{73.Comment}}",
                                "Country": "{{73.Country}}",
                                "VendorID": "{{73.VendorID}}",
                                "Zip Code": "{{73.`Zip Code`}}",
                                "Supplier?": "{{73.`Supplier?`}}",
                                "createdTime": "{{73.createdTime}}",
                                "Dropshipper?": "{{73.`Dropshipper?`}}",
                                "Contact Email": "{{73.`Contact Email`}}",
                                "Contact Phone": "{{73.`Contact Phone`}}",
                                "Manufacturer?": "{{73.`Manufacturer?`}}",
                                "Vendor Products": "{{73.`Vendor Products`}}",
                                "Last Modified Time": "{{73.`Last Modified Time`}}",
                                "Purchase Order Email": "{{73.`Purchase Order Email`}}",
                                "defaultPaymentTermId": "{{73.defaultPaymentTermId}}",
                                "Count (Vendor Products)": "{{73.`Count (Vendor Products)`}}",
                                "defaultPurchaseOrderFormat": "{{73.defaultPurchaseOrderFormat}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 450
                                },
                                "restore": {
                                    "feeder": {
                                        "label": "Airtable - Search Records [73]"
                                    },
                                    "mapper": {
                                        "label": [
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            null
                                        ]
                                    },
                                    "target": {
                                        "label": "Custom"
                                    }
                                }
                            }
                        },
                        {
                            "id": 90,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{91.`__IMTAGGLENGTH__`}}",
                                            "b": "0",
                                            "o": "number:greater"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "array": "{{91.array}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 450
                                },
                                "restore": {
                                    "array": {
                                        "mode": "edit"
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 78,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 450
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 85,
                                            "module": "builtin:BasicRouter",
                                            "version": 1,
                                            "filter": {
                                                "name": "Necessary criteria exists",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{90.Address}}",
                                                            "b": "",
                                                            "o": "exist"
                                                        },
                                                        {
                                                            "a": "{{90.City}}",
                                                            "b": "",
                                                            "o": "exist"
                                                        },
                                                        {
                                                            "a": "{{90.Country}}",
                                                            "b": "",
                                                            "o": "exist"
                                                        },
                                                        {
                                                            "a": "{{90.`Zip Code`}}",
                                                            "b": "",
                                                            "o": "exist"
                                                        },
                                                        {
                                                            "a": "{{90.`Contact Email`}}",
                                                            "b": "",
                                                            "o": "exist"
                                                        },
                                                        {
                                                            "a": "{{90.`Contact Phone`}}",
                                                            "b": "",
                                                            "o": "exist"
                                                        },
                                                        {
                                                            "a": "{{90.defaultPaymentTermId}}",
                                                            "b": "",
                                                            "o": "exist"
                                                        },
                                                        {
                                                            "a": "{{90.defaultPurchaseOrderFormat}}",
                                                            "b": "",
                                                            "o": "exist"
                                                        },
                                                        {
                                                            "a": "{{90.`Dropshipper?`}}",
                                                            "b": "",
                                                            "o": "exist"
                                                        },
                                                        {
                                                            "a": "{{90.`Manufacturer?`}}",
                                                            "b": "",
                                                            "o": "exist"
                                                        },
                                                        {
                                                            "a": "{{90.`Supplier?`}}",
                                                            "b": "",
                                                            "o": "exist"
                                                        },
                                                        {
                                                            "a": "{{90.`Purchase Order Email`}}",
                                                            "b": "",
                                                            "o": "exist"
                                                        },
                                                        {
                                                            "a": "{{90.Name}}",
                                                            "b": "",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": null,
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 300
                                                }
                                            },
                                            "routes": [
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 84,
                                                            "module": "json:CreateJSON",
                                                            "version": 1,
                                                            "parameters": {
                                                                "type": 225070,
                                                                "space": ""
                                                            },
                                                            "mapper": {
                                                                "name": "{{90.Name}}",
                                                                "active": true,
                                                                "address": {
                                                                    "city": "{{90.City}}",
                                                                    "country": "{{90.Country}}",
                                                                    "zipCode": "{{90.`Zip Code`}}",
                                                                    "address1": "{{90.Address}}"
                                                                },
                                                                "supplier": true,
                                                                "dropshipper": false,
                                                                "contactEmail": "{{90.`Contact Email`}}",
                                                                "manufacturer": false,
                                                                "contactPhone1": "{{90.`Contact Phone`}}",
                                                                "purchaseOrderEmail": "{{90.`Purchase Order Email`}}",
                                                                "defaultPaymentTermId": "1",
                                                                "defaultPurchaseOrderFormat": "PO_PDF_ATTACHMENT",
                                                                "defaultIncotermShippingRule": "FREE_ON_BOARD"
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 2100,
                                                                    "y": 300
                                                                },
                                                                "restore": {
                                                                    "type": {
                                                                        "label": "PUT: Skubana Vendor"
                                                                    },
                                                                    "space": {
                                                                        "label": ""
                                                                    },
                                                                    "active": {
                                                                        "mode": "chose"
                                                                    },
                                                                    "supplier": {
                                                                        "mode": "chose"
                                                                    },
                                                                    "dropshipper": {
                                                                        "mode": "chose"
                                                                    },
                                                                    "manufacturer": {
                                                                        "mode": "chose"
                                                                    }
                                                                },
                                                                "parameters": [
                                                                    {
                                                                        "name": "type",
                                                                        "type": "udt",
                                                                        "label": "Data structure",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "space",
                                                                        "type": "select",
                                                                        "label": "Indentation",
                                                                        "validate": {
                                                                            "enum": [
                                                                                "tab",
                                                                                "2",
                                                                                "4"
                                                                            ]
                                                                        }
                                                                    }
                                                                ],
                                                                "expect": [
                                                                    {
                                                                        "name": "address",
                                                                        "spec": [
                                                                            {
                                                                                "name": "address1",
                                                                                "type": "text"
                                                                            },
                                                                            {
                                                                                "name": "city",
                                                                                "type": "text"
                                                                            },
                                                                            {
                                                                                "name": "country",
                                                                                "type": "text"
                                                                            },
                                                                            {
                                                                                "name": "zipCode",
                                                                                "type": "text"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "address"
                                                                    },
                                                                    {
                                                                        "name": "contactEmail",
                                                                        "type": "text",
                                                                        "required": true,
                                                                        "multiline": false
                                                                    },
                                                                    {
                                                                        "name": "contactPhone1",
                                                                        "type": "text",
                                                                        "required": true,
                                                                        "multiline": false
                                                                    },
                                                                    {
                                                                        "name": "defaultPaymentTermId",
                                                                        "type": "number",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "defaultPurchaseOrderFormat",
                                                                        "type": "text",
                                                                        "multiline": false
                                                                    },
                                                                    {
                                                                        "name": "dropshipper",
                                                                        "type": "boolean",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "manufacturer",
                                                                        "type": "boolean",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "name",
                                                                        "type": "text",
                                                                        "required": true,
                                                                        "multiline": false
                                                                    },
                                                                    {
                                                                        "name": "purchaseOrderEmail",
                                                                        "type": "text"
                                                                    },
                                                                    {
                                                                        "name": "supplier",
                                                                        "type": "boolean"
                                                                    },
                                                                    {
                                                                        "name": "active",
                                                                        "type": "boolean"
                                                                    },
                                                                    {
                                                                        "name": "defaultIncotermShippingRule",
                                                                        "type": "text",
                                                                        "multiline": false
                                                                    }
                                                                ]
                                                            }
                                                        },
                                                        {
                                                            "id": 74,
                                                            "module": "http:ActionSendData",
                                                            "version": 3,
                                                            "parameters": {
                                                                "handleErrors": false,
                                                                "useNewZLibDeCompress": "true"
                                                            },
                                                            "mapper": {
                                                                "ca": "",
                                                                "qs": [],
                                                                "url": "{{2.skubana_api_slug}}{{2.`PUT: Skubana Vendor`}}",
                                                                "data": "[{{84.json}}]",
                                                                "gzip": true,
                                                                "method": "put",
                                                                "headers": [
                                                                    {
                                                                        "name": "Authorization",
                                                                        "value": "Bearer {{2.skubana_access_token}}"
                                                                    }
                                                                ],
                                                                "timeout": "",
                                                                "useMtls": false,
                                                                "authPass": "",
                                                                "authUser": "",
                                                                "bodyType": "raw",
                                                                "contentType": "application/json",
                                                                "serializeUrl": false,
                                                                "shareCookies": false,
                                                                "parseResponse": true,
                                                                "followRedirect": true,
                                                                "useQuerystring": false,
                                                                "followAllRedirects": false,
                                                                "rejectUnauthorized": true
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 2400,
                                                                    "y": 300
                                                                },
                                                                "restore": {
                                                                    "qs": {
                                                                        "mode": "chose",
                                                                        "items": []
                                                                    },
                                                                    "method": {
                                                                        "mode": "chose",
                                                                        "label": "PUT"
                                                                    },
                                                                    "headers": {
                                                                        "mode": "chose",
                                                                        "items": [
                                                                            "undefined"
                                                                        ]
                                                                    },
                                                                    "bodyType": {
                                                                        "label": "Raw"
                                                                    },
                                                                    "contentType": {
                                                                        "label": "JSON (application/json)"
                                                                    }
                                                                },
                                                                "parameters": [
                                                                    {
                                                                        "name": "handleErrors",
                                                                        "type": "boolean",
                                                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "useNewZLibDeCompress",
                                                                        "type": "hidden"
                                                                    }
                                                                ],
                                                                "expect": [
                                                                    {
                                                                        "name": "url",
                                                                        "type": "url",
                                                                        "label": "URL",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "serializeUrl",
                                                                        "type": "boolean",
                                                                        "label": "Serialize URL",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "method",
                                                                        "type": "select",
                                                                        "label": "Method",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "enum": [
                                                                                "get",
                                                                                "head",
                                                                                "post",
                                                                                "put",
                                                                                "patch",
                                                                                "delete",
                                                                                "options"
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "headers",
                                                                        "spec": [
                                                                            {
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Name",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "value",
                                                                                "type": "text",
                                                                                "label": "Value"
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Headers",
                                                                        "labels": {
                                                                            "add": "Add a header",
                                                                            "edit": "Edit a header"
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "qs",
                                                                        "spec": [
                                                                            {
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Name",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "value",
                                                                                "type": "text",
                                                                                "label": "Value"
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Query String",
                                                                        "labels": {
                                                                            "add": "Add parameter",
                                                                            "edit": "Edit parameter"
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "bodyType",
                                                                        "type": "select",
                                                                        "label": "Body type",
                                                                        "validate": {
                                                                            "enum": [
                                                                                "raw",
                                                                                "x_www_form_urlencoded",
                                                                                "multipart_form_data"
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "parseResponse",
                                                                        "type": "boolean",
                                                                        "label": "Parse response",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "authUser",
                                                                        "type": "text",
                                                                        "label": "User name"
                                                                    },
                                                                    {
                                                                        "name": "authPass",
                                                                        "type": "password",
                                                                        "label": "Password"
                                                                    },
                                                                    {
                                                                        "name": "timeout",
                                                                        "type": "uinteger",
                                                                        "label": "Timeout",
                                                                        "validate": {
                                                                            "max": 300,
                                                                            "min": 1
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "shareCookies",
                                                                        "type": "boolean",
                                                                        "label": "Share cookies with other HTTP modules",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "ca",
                                                                        "type": "cert",
                                                                        "label": "Self-signed certificate",
                                                                        "multiline": true
                                                                    },
                                                                    {
                                                                        "name": "rejectUnauthorized",
                                                                        "type": "boolean",
                                                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "followRedirect",
                                                                        "type": "boolean",
                                                                        "label": "Follow redirect",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "useQuerystring",
                                                                        "type": "boolean",
                                                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "gzip",
                                                                        "type": "boolean",
                                                                        "label": "Request compressed content",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "useMtls",
                                                                        "type": "boolean",
                                                                        "label": "Use Mutual TLS",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "contentType",
                                                                        "type": "select",
                                                                        "label": "Content type",
                                                                        "validate": {
                                                                            "enum": [
                                                                                "text/plain",
                                                                                "application/json",
                                                                                "application/xml",
                                                                                "text/xml",
                                                                                "text/html",
                                                                                "custom"
                                                                            ]
                                                                        }
                                                                    },
                                                                    {
                                                                        "name": "data",
                                                                        "type": "buffer",
                                                                        "label": "Request content"
                                                                    },
                                                                    {
                                                                        "name": "followAllRedirects",
                                                                        "type": "boolean",
                                                                        "label": "Follow all redirect",
                                                                        "required": true
                                                                    }
                                                                ]
                                                            }
                                                        },
                                                        {
                                                            "id": 89,
                                                            "module": "airtable:ActionUpdateRecords",
                                                            "version": 3,
                                                            "parameters": {
                                                                "__IMTCONN__": 3543976
                                                            },
                                                            "mapper": {
                                                                "id": "{{90.id}}",
                                                                "base": "appYS5dIeZyo4f0cy",
                                                                "table": "Vendors",
                                                                "record": {},
                                                                "typecast": false,
                                                                "useColumnId": false
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 2700,
                                                                    "y": 300,
                                                                    "name": "Update Vendor Record: Add ID"
                                                                },
                                                                "restore": {
                                                                    "base": {
                                                                        "label": "Skubana Environment"
                                                                    },
                                                                    "table": {
                                                                        "label": "Vendors"
                                                                    },
                                                                    "record": {
                                                                        "nested": {
                                                                            "fldTgKpoKziVQ7Aox": {
                                                                                "mode": "chose",
                                                                                "items": []
                                                                            }
                                                                        }
                                                                    },
                                                                    "typecast": {
                                                                        "mode": "chose"
                                                                    },
                                                                    "__IMTCONN__": {
                                                                        "label": "Nolk OS Airtable"
                                                                    },
                                                                    "useColumnId": {
                                                                        "mode": "chose"
                                                                    }
                                                                },
                                                                "parameters": [
                                                                    {
                                                                        "name": "__IMTCONN__",
                                                                        "type": "account",
                                                                        "label": "Connection",
                                                                        "required": true
                                                                    }
                                                                ],
                                                                "expect": [
                                                                    {
                                                                        "name": "base",
                                                                        "type": "select",
                                                                        "label": "Base",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "typecast",
                                                                        "type": "boolean",
                                                                        "label": "Smart links",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "useColumnId",
                                                                        "type": "boolean",
                                                                        "label": "Use Column ID",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "table",
                                                                        "type": "select",
                                                                        "label": "Table",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "id",
                                                                        "type": "text",
                                                                        "label": "Record ID",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "record",
                                                                        "spec": [
                                                                            {
                                                                                "name": "fld1PzVzvOiOWA8OD",
                                                                                "type": "text",
                                                                                "label": "Name"
                                                                            },
                                                                            {
                                                                                "name": "fldJdJg7cwxj8TP6A",
                                                                                "type": "text",
                                                                                "label": "Address",
                                                                                "multiline": true
                                                                            },
                                                                            {
                                                                                "name": "fldcAkahEZP2wZyGq",
                                                                                "type": "text",
                                                                                "label": "Contact Email"
                                                                            },
                                                                            {
                                                                                "name": "fldFcJ644BydR0mlb",
                                                                                "type": "text",
                                                                                "label": "Purchase Order Email"
                                                                            },
                                                                            {
                                                                                "name": "fldYXba6IDSOe0sP9",
                                                                                "type": "text",
                                                                                "label": "Contact Phone"
                                                                            },
                                                                            {
                                                                                "name": "fldCwZyzja1ZoDZMU",
                                                                                "type": "text",
                                                                                "label": "defaultPaymentTermId"
                                                                            },
                                                                            {
                                                                                "name": "fld0m8S6YRsDOCnC8",
                                                                                "type": "text",
                                                                                "label": "defaultPurchaseOrderFormat"
                                                                            },
                                                                            {
                                                                                "name": "fldzvJCjGSdAh6jWB",
                                                                                "type": "text",
                                                                                "label": "Dropshipper?"
                                                                            },
                                                                            {
                                                                                "name": "fldWHOyKLW0FoSQHk",
                                                                                "type": "text",
                                                                                "label": "Manufacturer?"
                                                                            },
                                                                            {
                                                                                "name": "fldsU7WLxEfHUyJIf",
                                                                                "type": "text",
                                                                                "label": "Supplier?"
                                                                            },
                                                                            {
                                                                                "name": "fldEEc2VIylAOMIgm",
                                                                                "type": "number",
                                                                                "label": "VendorID"
                                                                            },
                                                                            {
                                                                                "name": "fldTgKpoKziVQ7Aox",
                                                                                "spec": {
                                                                                    "label": "Record ID"
                                                                                },
                                                                                "type": "array",
                                                                                "label": "Vendor Products"
                                                                            },
                                                                            {
                                                                                "name": "fldrxbKV3u2qICBMV",
                                                                                "type": "text",
                                                                                "label": "Comment",
                                                                                "multiline": true
                                                                            },
                                                                            {
                                                                                "name": "fldACAKXMT6a5oeK3",
                                                                                "type": "text",
                                                                                "label": "City"
                                                                            },
                                                                            {
                                                                                "name": "flduvSwv1tnFiYNNT",
                                                                                "type": "text",
                                                                                "label": "Country"
                                                                            },
                                                                            {
                                                                                "name": "fldbmVzGmkPFHCUL4",
                                                                                "type": "text",
                                                                                "label": "Zip Code"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Record"
                                                                    }
                                                                ],
                                                                "interface": [
                                                                    {
                                                                        "name": "id",
                                                                        "type": "text",
                                                                        "label": "ID"
                                                                    },
                                                                    {
                                                                        "name": "createdTime",
                                                                        "type": "date",
                                                                        "label": "Created Time"
                                                                    },
                                                                    {
                                                                        "name": "Name",
                                                                        "type": "text",
                                                                        "label": "Name"
                                                                    },
                                                                    {
                                                                        "name": "Address",
                                                                        "type": "text",
                                                                        "label": "Address",
                                                                        "multiline": true
                                                                    },
                                                                    {
                                                                        "name": "Contact Email",
                                                                        "type": "text",
                                                                        "label": "Contact Email"
                                                                    },
                                                                    {
                                                                        "name": "Purchase Order Email",
                                                                        "type": "text",
                                                                        "label": "Purchase Order Email"
                                                                    },
                                                                    {
                                                                        "name": "Contact Phone",
                                                                        "type": "text",
                                                                        "label": "Contact Phone"
                                                                    },
                                                                    {
                                                                        "name": "defaultPaymentTermId",
                                                                        "type": "text",
                                                                        "label": "defaultPaymentTermId"
                                                                    },
                                                                    {
                                                                        "name": "defaultPurchaseOrderFormat",
                                                                        "type": "text",
                                                                        "label": "defaultPurchaseOrderFormat"
                                                                    },
                                                                    {
                                                                        "name": "Dropshipper?",
                                                                        "type": "text",
                                                                        "label": "Dropshipper?"
                                                                    },
                                                                    {
                                                                        "name": "Manufacturer?",
                                                                        "type": "text",
                                                                        "label": "Manufacturer?"
                                                                    },
                                                                    {
                                                                        "name": "Supplier?",
                                                                        "type": "text",
                                                                        "label": "Supplier?"
                                                                    },
                                                                    {
                                                                        "name": "VendorID",
                                                                        "type": "number",
                                                                        "label": "VendorID"
                                                                    },
                                                                    {
                                                                        "name": "Last Modified Time",
                                                                        "type": "date",
                                                                        "label": "Last Modified Time"
                                                                    },
                                                                    {
                                                                        "name": "Vendor Products",
                                                                        "spec": {
                                                                            "label": "Record ID"
                                                                        },
                                                                        "type": "array",
                                                                        "label": "Vendor Products"
                                                                    },
                                                                    {
                                                                        "name": "Count (Vendor Products)",
                                                                        "type": "number",
                                                                        "label": "Count (Vendor Products)"
                                                                    },
                                                                    {
                                                                        "name": "Comment",
                                                                        "type": "text",
                                                                        "label": "Comment",
                                                                        "multiline": true
                                                                    },
                                                                    {
                                                                        "name": "City",
                                                                        "type": "text",
                                                                        "label": "City"
                                                                    },
                                                                    {
                                                                        "name": "Country",
                                                                        "type": "text",
                                                                        "label": "Country"
                                                                    },
                                                                    {
                                                                        "name": "Zip Code",
                                                                        "type": "text",
                                                                        "label": "Zip Code"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 79,
                                            "module": "airtable:ActionUpdateRecords",
                                            "version": 3,
                                            "parameters": {
                                                "__IMTCONN__": 3543976
                                            },
                                            "filter": {
                                                "name": "Missing necessary criteria",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{90.`Supplier?`}}",
                                                            "b": "",
                                                            "o": "notexist"
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            "a": "{{90.`Purchase Order Email`}}",
                                                            "b": "",
                                                            "o": "notexist"
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            "a": "{{90.Name}}",
                                                            "b": "",
                                                            "o": "notexist"
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            "a": "{{90.`Manufacturer?`}}",
                                                            "b": "",
                                                            "o": "notexist"
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            "a": "{{90.`Dropshipper?`}}",
                                                            "b": "",
                                                            "o": "notexist"
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            "a": "{{90.defaultPurchaseOrderFormat}}",
                                                            "b": "",
                                                            "o": "notexist"
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            "a": "{{90.defaultPaymentTermId}}",
                                                            "b": "",
                                                            "o": "notexist"
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            "a": "{{90.`Contact Phone`}}",
                                                            "b": "",
                                                            "o": "notexist"
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            "a": "{{90.`Contact Email`}}",
                                                            "b": "",
                                                            "o": "notexist"
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            "a": "{{90.`Zip Code`}}",
                                                            "b": "",
                                                            "o": "notexist"
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            "a": "{{90.Country}}",
                                                            "b": "",
                                                            "o": "notexist"
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            "a": "{{90.City}}",
                                                            "b": "",
                                                            "o": "notexist"
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            "a": "{{90.Address}}",
                                                            "b": "",
                                                            "o": "notexist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "id": "{{90.id}}",
                                                "base": "appYS5dIeZyo4f0cy",
                                                "table": "Vendors",
                                                "record": {
                                                    "fldrxbKV3u2qICBMV": "Cannot publish to Skubana. For details: https://documentation.skubana.com/spec/#operation/putVendorUsingPUT"
                                                },
                                                "typecast": false,
                                                "useColumnId": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 600
                                                },
                                                "restore": {
                                                    "base": {
                                                        "label": "Skubana Environment"
                                                    },
                                                    "table": {
                                                        "label": "Vendors"
                                                    },
                                                    "record": {
                                                        "nested": {
                                                            "fldTgKpoKziVQ7Aox": {
                                                                "mode": "chose",
                                                                "items": []
                                                            }
                                                        }
                                                    },
                                                    "typecast": {
                                                        "mode": "chose"
                                                    },
                                                    "__IMTCONN__": {
                                                        "label": "Nolk OS Airtable"
                                                    },
                                                    "useColumnId": {
                                                        "mode": "chose"
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "base",
                                                        "type": "select",
                                                        "label": "Base",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "typecast",
                                                        "type": "boolean",
                                                        "label": "Smart links",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useColumnId",
                                                        "type": "boolean",
                                                        "label": "Use Column ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "table",
                                                        "type": "select",
                                                        "label": "Table",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "Record ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "record",
                                                        "spec": [
                                                            {
                                                                "name": "fld1PzVzvOiOWA8OD",
                                                                "type": "text",
                                                                "label": "Name"
                                                            },
                                                            {
                                                                "name": "fldJdJg7cwxj8TP6A",
                                                                "type": "text",
                                                                "label": "Address",
                                                                "multiline": true
                                                            },
                                                            {
                                                                "name": "fldcAkahEZP2wZyGq",
                                                                "type": "text",
                                                                "label": "Contact Email"
                                                            },
                                                            {
                                                                "name": "fldFcJ644BydR0mlb",
                                                                "type": "text",
                                                                "label": "Purchase Order Email"
                                                            },
                                                            {
                                                                "name": "fldYXba6IDSOe0sP9",
                                                                "type": "text",
                                                                "label": "Contact Phone"
                                                            },
                                                            {
                                                                "name": "fldCwZyzja1ZoDZMU",
                                                                "type": "text",
                                                                "label": "defaultPaymentTermId"
                                                            },
                                                            {
                                                                "name": "fld0m8S6YRsDOCnC8",
                                                                "type": "text",
                                                                "label": "defaultPurchaseOrderFormat"
                                                            },
                                                            {
                                                                "name": "fldzvJCjGSdAh6jWB",
                                                                "type": "text",
                                                                "label": "Dropshipper?"
                                                            },
                                                            {
                                                                "name": "fldWHOyKLW0FoSQHk",
                                                                "type": "text",
                                                                "label": "Manufacturer?"
                                                            },
                                                            {
                                                                "name": "fldsU7WLxEfHUyJIf",
                                                                "type": "text",
                                                                "label": "Supplier?"
                                                            },
                                                            {
                                                                "name": "fldEEc2VIylAOMIgm",
                                                                "type": "number",
                                                                "label": "VendorID"
                                                            },
                                                            {
                                                                "name": "fldTgKpoKziVQ7Aox",
                                                                "spec": {
                                                                    "label": "Record ID"
                                                                },
                                                                "type": "array",
                                                                "label": "Vendor Products"
                                                            },
                                                            {
                                                                "name": "fldrxbKV3u2qICBMV",
                                                                "type": "text",
                                                                "label": "Comment",
                                                                "multiline": true
                                                            },
                                                            {
                                                                "name": "fldACAKXMT6a5oeK3",
                                                                "type": "text",
                                                                "label": "City"
                                                            },
                                                            {
                                                                "name": "flduvSwv1tnFiYNNT",
                                                                "type": "text",
                                                                "label": "Country"
                                                            },
                                                            {
                                                                "name": "fldbmVzGmkPFHCUL4",
                                                                "type": "text",
                                                                "label": "Zip Code"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Record"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "createdTime",
                                                        "type": "date",
                                                        "label": "Created Time"
                                                    },
                                                    {
                                                        "name": "Name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "Address",
                                                        "type": "text",
                                                        "label": "Address",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Contact Email",
                                                        "type": "text",
                                                        "label": "Contact Email"
                                                    },
                                                    {
                                                        "name": "Purchase Order Email",
                                                        "type": "text",
                                                        "label": "Purchase Order Email"
                                                    },
                                                    {
                                                        "name": "Contact Phone",
                                                        "type": "text",
                                                        "label": "Contact Phone"
                                                    },
                                                    {
                                                        "name": "defaultPaymentTermId",
                                                        "type": "text",
                                                        "label": "defaultPaymentTermId"
                                                    },
                                                    {
                                                        "name": "defaultPurchaseOrderFormat",
                                                        "type": "text",
                                                        "label": "defaultPurchaseOrderFormat"
                                                    },
                                                    {
                                                        "name": "Dropshipper?",
                                                        "type": "text",
                                                        "label": "Dropshipper?"
                                                    },
                                                    {
                                                        "name": "Manufacturer?",
                                                        "type": "text",
                                                        "label": "Manufacturer?"
                                                    },
                                                    {
                                                        "name": "Supplier?",
                                                        "type": "text",
                                                        "label": "Supplier?"
                                                    },
                                                    {
                                                        "name": "VendorID",
                                                        "type": "number",
                                                        "label": "VendorID"
                                                    },
                                                    {
                                                        "name": "Last Modified Time",
                                                        "type": "date",
                                                        "label": "Last Modified Time"
                                                    },
                                                    {
                                                        "name": "Vendor Products",
                                                        "spec": {
                                                            "label": "Record ID"
                                                        },
                                                        "type": "array",
                                                        "label": "Vendor Products"
                                                    },
                                                    {
                                                        "name": "Count (Vendor Products)",
                                                        "type": "number",
                                                        "label": "Count (Vendor Products)"
                                                    },
                                                    {
                                                        "name": "Comment",
                                                        "type": "text",
                                                        "label": "Comment",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "City",
                                                        "type": "text",
                                                        "label": "City"
                                                    },
                                                    {
                                                        "name": "Country",
                                                        "type": "text",
                                                        "label": "Country"
                                                    },
                                                    {
                                                        "name": "Zip Code",
                                                        "type": "text",
                                                        "label": "Zip Code"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "shatter": false,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 51,
                    "text": "",
                    "filter": false
                },
                {
                    "text": "Status Code: 200\nor\nData: blank",
                    "filter": true
                },
                {
                    "text": "Status Code: 200\n&\nData: Not blank",
                    "filter": true
                },
                {
                    "text": "Stop if data blank or",
                    "filter": true
                }
            ]
        },
        "zone": "eu1.integromat.com"
    }
}