integration/integromat/exported/20221219/Archived - OLD PIM  Skubana SKUs/(1.A) Publish Nolk SKU to Skubana (PUT Core).json
{
    "name": "(1.A) Publish: Nolk SKU to Skubana (PUT Core)",
    "flow": [
        {
            "id": 3,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1387828,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300
                },
                "restore": {
                    "hook": {
                        "label": "Skubana: Create Core"
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "Nolk SKU",
                        "type": "text"
                    },
                    {
                        "name": "CM Record",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 95,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "skubana_api_slug",
                        "value": "https://api.skubana.com"
                    },
                    {
                        "name": "skubana_access_token",
                        "value": "ab0e575e-113f-46f5-9c15-c86f019e56c2"
                    },
                    {
                        "name": "v_receipt_1",
                        "value": "martin@nolk.com"
                    },
                    {
                        "name": "GET: Skubana Products",
                        "value": "/v1.1/products"
                    },
                    {
                        "name": "GET: Single Skubana Product",
                        "value": "/v1.1/product"
                    },
                    {
                        "name": "PUT: Skubana Core",
                        "value": "/v1.1/products/cores"
                    },
                    {
                        "name": "PUT: Skubana Bundles",
                        "value": "/v1.1/products/bundles"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300
                },
                "restore": {
                    "scope": {
                        "label": "One cycle"
                    },
                    "variables": {
                        "items": [
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined"
                        ]
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "skubana_api_slug",
                        "type": "any",
                        "label": "skubana_api_slug"
                    },
                    {
                        "name": "skubana_access_token",
                        "type": "any",
                        "label": "skubana_access_token"
                    },
                    {
                        "name": "v_receipt_1",
                        "type": "any",
                        "label": "v_receipt_1"
                    },
                    {
                        "name": "GET: Skubana Products",
                        "type": "any",
                        "label": "GET: Skubana Products"
                    },
                    {
                        "name": "GET: Single Skubana Product",
                        "type": "any",
                        "label": "GET: Single Skubana Product"
                    },
                    {
                        "name": "PUT: Skubana Core",
                        "type": "any",
                        "label": "PUT: Skubana Core"
                    },
                    {
                        "name": "PUT: Skubana Bundles",
                        "type": "any",
                        "label": "PUT: Skubana Bundles"
                    }
                ]
            }
        },
        {
            "id": 94,
            "module": "airtable:ActionGetRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 3543976
            },
            "mapper": {
                "id": "{{3.`PIM Record`}}",
                "base": "appYS5dIeZyo4f0cy",
                "table": "PIM Products",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 300
                },
                "restore": {
                    "base": {
                        "mode": "chose",
                        "label": "Skubana Environment"
                    },
                    "table": {
                        "mode": "chose",
                        "label": "PIM Products"
                    },
                    "__IMTCONN__": {
                        "label": "Nolk OS Airtable"
                    },
                    "useColumnId": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Nolk SKU",
                        "type": "text",
                        "label": "Nolk SKU",
                        "multiline": true
                    },
                    {
                        "name": "Nolk Name",
                        "type": "text",
                        "label": "Nolk Name",
                        "multiline": true
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "Brand",
                        "type": "text",
                        "label": "Brand"
                    },
                    {
                        "name": "Product Type",
                        "type": "text",
                        "label": "Product Type"
                    },
                    {
                        "name": "Model (m)",
                        "type": "text",
                        "label": "Model (m)"
                    },
                    {
                        "name": "Variant (v)",
                        "type": "text",
                        "label": "Variant (v)"
                    },
                    {
                        "name": "Size (s)",
                        "type": "text",
                        "label": "Size (s)"
                    },
                    {
                        "name": "Color (c)",
                        "type": "text",
                        "label": "Color (c)"
                    },
                    {
                        "name": "Version (x)",
                        "type": "text",
                        "label": "Version (x)"
                    },
                    {
                        "name": "Abbreviation (from Brand)",
                        "type": "text",
                        "label": "Abbreviation (from Brand)"
                    },
                    {
                        "name": "Abbreviation (from Product Type)",
                        "type": "text",
                        "label": "Abbreviation (from Product Type)"
                    },
                    {
                        "name": "Abbreviation (from Model)",
                        "type": "text",
                        "label": "Abbreviation (from Model)"
                    },
                    {
                        "name": "Abbreviation (from Variant)",
                        "type": "text",
                        "label": "Abbreviation (from Variant)"
                    },
                    {
                        "name": "Abbreviation (from Size)",
                        "type": "text",
                        "label": "Abbreviation (from Size)"
                    },
                    {
                        "name": "Abbreviation (from Color)",
                        "type": "text",
                        "label": "Abbreviation (from Color)"
                    },
                    {
                        "name": "Abbreviation (from Version)",
                        "type": "text",
                        "label": "Abbreviation (from Version)"
                    },
                    {
                        "name": "Master SKUs from OMS's",
                        "type": "text",
                        "label": "Master SKUs from OMS's"
                    },
                    {
                        "name": "Bundled Product 1",
                        "type": "text",
                        "label": "Bundled Product 1"
                    },
                    {
                        "name": "Quantity 1",
                        "type": "number",
                        "label": "Quantity 1"
                    },
                    {
                        "name": "Bundled Product 2",
                        "type": "text",
                        "label": "Bundled Product 2"
                    },
                    {
                        "name": "Quantity 2",
                        "type": "number",
                        "label": "Quantity 2"
                    },
                    {
                        "name": "Bundled Product 3",
                        "type": "text",
                        "label": "Bundled Product 3"
                    },
                    {
                        "name": "Quantity 3",
                        "type": "number",
                        "label": "Quantity 3"
                    },
                    {
                        "name": "Bundled Product 4",
                        "type": "text",
                        "label": "Bundled Product 4"
                    },
                    {
                        "name": "Quantity 4",
                        "type": "number",
                        "label": "Quantity 4"
                    },
                    {
                        "name": "Bundled Product 5",
                        "type": "text",
                        "label": "Bundled Product 5"
                    },
                    {
                        "name": "Quantity 5",
                        "type": "number",
                        "label": "Quantity 5"
                    },
                    {
                        "name": "Last Modified",
                        "time": true,
                        "type": "date",
                        "label": "Last Modified"
                    },
                    {
                        "name": "UPC",
                        "type": "text",
                        "label": "UPC"
                    },
                    {
                        "name": "Description",
                        "type": "text",
                        "label": "Description",
                        "multiline": true
                    },
                    {
                        "name": "Brands Link (from Product Type)",
                        "type": "text",
                        "label": "Brands Link (from Product Type)"
                    },
                    {
                        "name": "Brands Link (from Model (m))",
                        "type": "text",
                        "label": "Brands Link (from Model (m))"
                    },
                    {
                        "name": "Brands Link (from Variant (v))",
                        "type": "text",
                        "label": "Brands Link (from Variant (v))"
                    },
                    {
                        "name": "Brands Link (from Size (s))",
                        "type": "text",
                        "label": "Brands Link (from Size (s))"
                    },
                    {
                        "name": "Brands Link (from Color (c))",
                        "type": "text",
                        "label": "Brands Link (from Color (c))"
                    },
                    {
                        "name": "Brands Link (from Version (x))",
                        "type": "text",
                        "label": "Brands Link (from Version (x))"
                    },
                    {
                        "name": "Skubana Master SKU",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Skubana Master SKU"
                    },
                    {
                        "name": "Skubana Vendor SKU(s)",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Skubana Vendor SKU(s)"
                    },
                    {
                        "name": "Sync Listing to Skubana",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Sync Listing to Skubana"
                    },
                    {
                        "name": "Sync to Vendor SKU",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Sync to Vendor SKU"
                    },
                    {
                        "name": "Product Name",
                        "type": "text",
                        "label": "Product Name"
                    },
                    {
                        "name": "Default Name",
                        "type": "text",
                        "label": "Default Name",
                        "multiline": true
                    },
                    {
                        "name": "Pricing Tiers (from Vendor SKUs)",
                        "type": "array",
                        "label": "Pricing Tiers (from Vendor SKUs)"
                    },
                    {
                        "name": "Vendor (from Vendor SKUs)",
                        "type": "array",
                        "label": "Vendor (from Vendor SKUs)"
                    },
                    {
                        "name": "Skubana Status",
                        "type": "text",
                        "label": "Skubana Status"
                    },
                    {
                        "name": "Last Modified (from Skubana Master SKU)",
                        "type": "array",
                        "label": "Last Modified (from Skubana Master SKU)"
                    }
                ]
            }
        },
        {
            "id": 84,
            "module": "json:CreateJSON",
            "version": 1,
            "parameters": {
                "type": 224677,
                "space": ""
            },
            "mapper": {
                "upc": "{{94.UPC}}",
                "name": "{{94.`Nolk Name`}}",
                "brand": "{{94.Brand}}",
                "active": true,
                "masterSku": "{{94.`Nolk SKU`}}",
                "description": "",
                "allBackorders": false
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 300
                },
                "restore": {
                    "type": {
                        "label": "Skubana: Create Core [app/json]"
                    },
                    "space": {
                        "label": ""
                    },
                    "active": {
                        "mode": "chose"
                    },
                    "isDigital": {
                        "mode": "chose"
                    },
                    "isGiftCard": {
                        "mode": "chose"
                    },
                    "allBackorders": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure",
                        "required": true
                    },
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "brand",
                        "type": "text",
                        "required": true,
                        "multiline": false
                    },
                    {
                        "name": "masterSku",
                        "type": "text",
                        "required": true,
                        "multiline": false
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "required": true,
                        "multiline": false
                    },
                    {
                        "name": "active",
                        "type": "boolean"
                    },
                    {
                        "name": "allBackorders",
                        "type": "boolean"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "multiline": false
                    },
                    {
                        "name": "isDigital",
                        "type": "boolean"
                    },
                    {
                        "name": "isGiftCard",
                        "type": "boolean"
                    },
                    {
                        "name": "upc",
                        "type": "text",
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 59,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": "true"
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "{{95.skubana_api_slug}}{{95.`PUT: Skubana Core`}}",
                "data": "[{{84.json}}]",
                "gzip": true,
                "method": "put",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer {{95.skubana_access_token}}"
                    }
                ],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "raw",
                "contentType": "application/json",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": false,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 300,
                    "name": "Create Core in Skubana"
                },
                "restore": {
                    "qs": {
                        "mode": "chose",
                        "items": []
                    },
                    "method": {
                        "mode": "chose",
                        "label": "PUT"
                    },
                    "headers": {
                        "mode": "chose",
                        "items": [
                            "undefined"
                        ]
                    },
                    "bodyType": {
                        "label": "Raw"
                    },
                    "contentType": {
                        "label": "JSON (application/json)"
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers",
                        "labels": {
                            "add": "Add a header",
                            "edit": "Edit a header"
                        }
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String",
                        "labels": {
                            "add": "Add parameter",
                            "edit": "Edit parameter"
                        }
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate",
                        "multiline": true
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 60,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {
                "duration": "3"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 300
                },
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "required": true,
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    }
                ]
            }
        },
        {
            "id": 61,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": "true"
            },
            "mapper": {
                "ca": "",
                "qs": [
                    {
                        "name": "sku",
                        "value": "{{94.`Nolk SKU`}}"
                    }
                ],
                "url": "{{95.skubana_api_slug}}{{95.`GET: Single Skubana Product`}}",
                "gzip": true,
                "method": "get",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer {{95.skubana_access_token}}"
                    }
                ],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 300,
                    "name": "Search Skubana: New Core"
                },
                "restore": {
                    "qs": {
                        "mode": "chose",
                        "items": [
                            "undefined"
                        ]
                    },
                    "method": {
                        "mode": "chose",
                        "label": "GET"
                    },
                    "headers": {
                        "mode": "chose",
                        "items": [
                            "undefined"
                        ]
                    },
                    "bodyType": {
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers",
                        "labels": {
                            "add": "Add a header",
                            "edit": "Edit a header"
                        }
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String",
                        "labels": {
                            "add": "Add parameter",
                            "edit": "Edit parameter"
                        }
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate",
                        "multiline": true
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 62,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {
                "else": 0
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 300
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 64,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 3551405
                            },
                            "filter": {
                                "name": "Skubana: New Core ¬Found",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{59.statusCode}}",
                                            "b": "200",
                                            "o": "text:notequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "{{95.v_receipt_1}}"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "Attempted at {{now}}",
                                "subject": "Failed to Find or Publish Core: {{94.`Nolk SKU`}}",
                                "attachments": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 0,
                                    "name": "Notify Me: Problem!"
                                },
                                "restore": {
                                    "cc": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "to": {
                                        "mode": "chose",
                                        "items": [
                                            "undefined"
                                        ]
                                    },
                                    "bcc": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "account": {
                                        "label": "Nolk OS (os@nolk.com)"
                                    },
                                    "attachments": {
                                        "mode": "chose",
                                        "items": []
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": " ",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "labels": {
                                            "add": "Add a recipient",
                                            "edit": "Edit a recipient"
                                        },
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments",
                                        "labels": {
                                            "add": "Add an attachment",
                                            "edit": "Edit an attachment"
                                        }
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient",
                                        "labels": {
                                            "add": "Add a copy recipient",
                                            "edit": "Edit a copy recipient"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient",
                                        "labels": {
                                            "add": "Add a blind copy recipient",
                                            "edit": "Edit a blind copy recipient"
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 63,
                            "module": "airtable:ActionCreateRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 3543976
                            },
                            "filter": {
                                "name": "Skubana: New Core Found",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{61.statusCode}}",
                                            "b": "200",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "base": "appYS5dIeZyo4f0cy",
                                "table": "Master SKUs",
                                "record": {
                                    "fld0zHWb9qYQ1tYrV": "{{61.data.masterSku}}",
                                    "fld2Bg6sEvxxjBcY7": "{{61.data.weight}}",
                                    "fld2DZOxqGl3I4HTp": "{{61.data.upc}}",
                                    "fldCCxW1b4GoGWbTt": [
                                        "{{94.id}}"
                                    ],
                                    "fldFY4gNgEpUx8HF8": "{{61.data.productId}}",
                                    "fldMGeGinj1jUvSAY": "{{61.data.name}}",
                                    "fldRNtZYCPEGDJc3P": "Created at {{formatDate(now; \"YYYY-MM-DD hh:mm A\")}}",
                                    "fldcOdEieQQfpxtSg": "{{61.data.active}}",
                                    "fldx6JX4RvClFPlWy": "{{61.data.brand}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 450
                                },
                                "restore": {
                                    "base": {
                                        "label": "Skubana Environment"
                                    },
                                    "table": {
                                        "label": "Master SKUs"
                                    },
                                    "record": {
                                        "nested": {
                                            "fld2Fd0krbTjOuqLN": {
                                                "mode": "chose",
                                                "items": []
                                            },
                                            "fldCCxW1b4GoGWbTt": {
                                                "mode": "chose",
                                                "items": [
                                                    "undefined"
                                                ]
                                            }
                                        }
                                    },
                                    "typecast": {
                                        "mode": "chose"
                                    },
                                    "__IMTCONN__": {
                                        "label": "Nolk OS Airtable"
                                    },
                                    "useColumnId": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fld0zHWb9qYQ1tYrV",
                                                "type": "text",
                                                "label": "Master SKU"
                                            },
                                            {
                                                "name": "fldx6JX4RvClFPlWy",
                                                "type": "text",
                                                "label": "Brand"
                                            },
                                            {
                                                "name": "fldMGeGinj1jUvSAY",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "fldRNtZYCPEGDJc3P",
                                                "type": "text",
                                                "label": "Notes",
                                                "multiline": true
                                            },
                                            {
                                                "name": "fldcOdEieQQfpxtSg",
                                                "type": "text",
                                                "label": "Active"
                                            },
                                            {
                                                "name": "fld2DZOxqGl3I4HTp",
                                                "type": "text",
                                                "label": "upc"
                                            },
                                            {
                                                "name": "fld2Bg6sEvxxjBcY7",
                                                "type": "text",
                                                "label": "weight"
                                            },
                                            {
                                                "name": "fldFY4gNgEpUx8HF8",
                                                "type": "text",
                                                "label": "productId"
                                            },
                                            {
                                                "name": "fld2Fd0krbTjOuqLN",
                                                "spec": {
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Vendor SKUs"
                                            },
                                            {
                                                "name": "fldCCxW1b4GoGWbTt",
                                                "spec": {
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "PIM Products"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Master SKU",
                                        "type": "text",
                                        "label": "Master SKU"
                                    },
                                    {
                                        "name": "Brand",
                                        "type": "text",
                                        "label": "Brand"
                                    },
                                    {
                                        "name": "Name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "Notes",
                                        "type": "text",
                                        "label": "Notes",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Active",
                                        "type": "text",
                                        "label": "Active"
                                    },
                                    {
                                        "name": "upc",
                                        "type": "text",
                                        "label": "upc"
                                    },
                                    {
                                        "name": "weight",
                                        "type": "text",
                                        "label": "weight"
                                    },
                                    {
                                        "name": "Created",
                                        "type": "date",
                                        "label": "Created"
                                    },
                                    {
                                        "name": "Last Modified",
                                        "type": "date",
                                        "label": "Last Modified"
                                    },
                                    {
                                        "name": "productId",
                                        "type": "text",
                                        "label": "productId"
                                    },
                                    {
                                        "name": "Vendor SKUs",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Vendor SKUs"
                                    },
                                    {
                                        "name": "Sync Skubana",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Sync Skubana"
                                    },
                                    {
                                        "name": "Pricing Tiers (from Vendor SKUs)",
                                        "type": "array",
                                        "label": "Pricing Tiers (from Vendor SKUs)"
                                    },
                                    {
                                        "name": "Vendors",
                                        "type": "array",
                                        "label": "Vendors"
                                    },
                                    {
                                        "name": "VendorID (from Vendor) (from Vendor SKUs)",
                                        "type": "array",
                                        "label": "VendorID (from Vendor) (from Vendor SKUs)"
                                    },
                                    {
                                        "name": "PIM Products",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "PIM Products"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 5,
            "shatter": false,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 87,
                    "text": "",
                    "filter": false
                }
            ]
        },
        "zone": "eu1.integromat.com"
    }
}