integration/integromat/scenario/Active - Nolk PIM V2/PIM - Fetch Listing Info - Batch.json
{
    "name": "PIM - Fetch Listing Info - Batch",
    "flow": [
        {
            "id": 9,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "skubana_api_slug",
                        "value": "https://api.skubana.com"
                    },
                    {
                        "name": "skubana_access_token",
                        "value": "ab0e575e-113f-46f5-9c15-c86f019e56c2"
                    },
                    {
                        "name": "v_receipt_1",
                        "value": "martin@nolk.com"
                    },
                    {
                        "name": "GET: Skubana Products",
                        "value": "/v1.1/products"
                    },
                    {
                        "name": "GET: Single Skubana Product",
                        "value": "/v1.1/product"
                    },
                    {
                        "name": "PUT: Skubana Core",
                        "value": "/v1.1/products/cores"
                    },
                    {
                        "name": "PUT: Skubana Bundles",
                        "value": "/v1.1/products/bundles"
                    },
                    {
                        "name": "active",
                        "value": "true"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "scope": {
                        "label": "One cycle"
                    },
                    "variables": {
                        "items": [
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined"
                        ]
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "skubana_api_slug",
                        "type": "any",
                        "label": "skubana_api_slug"
                    },
                    {
                        "name": "skubana_access_token",
                        "type": "any",
                        "label": "skubana_access_token"
                    },
                    {
                        "name": "v_receipt_1",
                        "type": "any",
                        "label": "v_receipt_1"
                    },
                    {
                        "name": "GET: Skubana Products",
                        "type": "any",
                        "label": "GET: Skubana Products"
                    },
                    {
                        "name": "GET: Single Skubana Product",
                        "type": "any",
                        "label": "GET: Single Skubana Product"
                    },
                    {
                        "name": "PUT: Skubana Core",
                        "type": "any",
                        "label": "PUT: Skubana Core"
                    },
                    {
                        "name": "PUT: Skubana Bundles",
                        "type": "any",
                        "label": "PUT: Skubana Bundles"
                    },
                    {
                        "name": "active",
                        "type": "any",
                        "label": "active"
                    }
                ]
            }
        },
        {
            "id": 118,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 3543976
            },
            "mapper": {
                "base": "appQD8vyOEbpbsJR9",
                "view": "viwPiHWLpxTJgGMyu",
                "table": "Shopify",
                "maxRecords": "10000",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150,
                    "name": "PIM - Shopify - Fetch Listing Info"
                },
                "restore": {
                    "base": {
                        "mode": "chose",
                        "label": "Nolk PIM V2"
                    },
                    "sort": {
                        "mode": "chose",
                        "items": []
                    },
                    "view": {
                        "mode": "chose",
                        "label": "Update Product copy"
                    },
                    "table": {
                        "mode": "chose",
                        "label": "Shopify"
                    },
                    "__IMTCONN__": {
                        "label": "Nolk OS Airtable"
                    },
                    "useColumnId": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field"
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Group Product",
                        "type": "text",
                        "label": "Group Product"
                    },
                    {
                        "name": "Sync Listing",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Sync Listing"
                    },
                    {
                        "name": "Level",
                        "type": "text",
                        "label": "Level"
                    },
                    {
                        "name": "Title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "Position",
                        "type": "number",
                        "label": "Position"
                    },
                    {
                        "name": "Push Inventory",
                        "type": "text",
                        "label": "Push Inventory"
                    },
                    {
                        "name": "Listing SKU",
                        "type": "text",
                        "label": "Listing SKU"
                    },
                    {
                        "name": "Barcode",
                        "type": "text",
                        "label": "Barcode"
                    },
                    {
                        "name": "Price",
                        "type": "number",
                        "label": "Price"
                    },
                    {
                        "name": "Currency",
                        "type": "array",
                        "label": "Currency"
                    },
                    {
                        "name": "Weight Unit",
                        "type": "text",
                        "label": "Weight Unit"
                    },
                    {
                        "name": "Weight",
                        "type": "text",
                        "label": "Weight"
                    },
                    {
                        "name": "Option",
                        "type": "text",
                        "label": "Option"
                    },
                    {
                        "name": "Product Type",
                        "type": "text",
                        "label": "Product Type"
                    },
                    {
                        "name": "Vendor",
                        "type": "text",
                        "label": "Vendor"
                    },
                    {
                        "name": "Tags",
                        "type": "text",
                        "label": "Tags"
                    },
                    {
                        "name": "Master SKU",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Master SKU"
                    },
                    {
                        "name": "Storefont Listing ID",
                        "type": "text",
                        "label": "Storefont Listing ID"
                    },
                    {
                        "name": "Record ID",
                        "type": "text",
                        "label": "Record ID"
                    },
                    {
                        "name": "Grams",
                        "type": "number",
                        "label": "Grams"
                    },
                    {
                        "name": "Product Title Link",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Product Title Link"
                    },
                    {
                        "name": "Record ID (from Product Title Link)",
                        "type": "array",
                        "label": "Record ID (from Product Title Link)"
                    },
                    {
                        "name": "Storefont",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Storefont"
                    },
                    {
                        "name": "Record ID (from Storefont)",
                        "type": "array",
                        "label": "Record ID (from Storefont)"
                    },
                    {
                        "name": "Product Title",
                        "type": "text",
                        "label": "Product Title"
                    },
                    {
                        "name": "Created At",
                        "time": true,
                        "type": "date",
                        "label": "Created At"
                    },
                    {
                        "name": "Updated At",
                        "time": true,
                        "type": "date",
                        "label": "Updated At"
                    },
                    {
                        "name": "Skubana Listing Status",
                        "type": "text",
                        "label": "Skubana Listing Status"
                    },
                    {
                        "name": "Skubana Listing ID",
                        "type": "text",
                        "label": "Skubana Listing ID"
                    },
                    {
                        "name": "API Type",
                        "type": "array",
                        "label": "API Type"
                    },
                    {
                        "name": "Listing Sync Status",
                        "type": "text",
                        "label": "Listing Sync Status"
                    },
                    {
                        "name": "Fetch Listing Info",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Fetch Listing Info"
                    },
                    {
                        "name": "Synced At",
                        "time": true,
                        "type": "date",
                        "label": "Synced At"
                    },
                    {
                        "name": "Skubana - Product Id (from Master SKU)",
                        "type": "array",
                        "label": "Skubana - Product Id (from Master SKU)"
                    },
                    {
                        "name": "Brand (from Master SKU)",
                        "type": "array",
                        "label": "Brand (from Master SKU)"
                    },
                    {
                        "name": "Created by",
                        "type": "text",
                        "label": "Created by"
                    },
                    {
                        "name": "Last modified by",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "email",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "collection",
                        "label": "Last modified by"
                    },
                    {
                        "name": "Product",
                        "type": "array",
                        "label": "Product"
                    },
                    {
                        "name": "Last Modified Time",
                        "type": "date",
                        "label": "Last Modified Time"
                    },
                    {
                        "name": "Storefont (from Product Title Link)",
                        "type": "array",
                        "label": "Storefont (from Product Title Link)"
                    },
                    {
                        "name": "Check Wrong product link",
                        "type": "text",
                        "label": "Check Wrong product link"
                    },
                    {
                        "name": "Sync Skubana Listing",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Sync Skubana Listing"
                    },
                    {
                        "name": "Master SKU (from Master SKU)",
                        "type": "array",
                        "label": "Master SKU (from Master SKU)"
                    },
                    {
                        "name": "lookup_mastersku",
                        "type": "text",
                        "label": "lookup_mastersku"
                    },
                    {
                        "name": "check_weight",
                        "type": "text",
                        "label": "check_weight"
                    },
                    {
                        "name": "Weight (grams) (from Master SKU)",
                        "type": "array",
                        "label": "Weight (grams) (from Master SKU)"
                    },
                    {
                        "name": "Weight (from Master SKU)",
                        "type": "array",
                        "label": "Weight (from Master SKU)"
                    },
                    {
                        "name": "Weight Unit (from Master SKU)",
                        "type": "array",
                        "label": "Weight Unit (from Master SKU)"
                    },
                    {
                        "name": "BK_Listing SKU",
                        "type": "text",
                        "label": "BK_Listing SKU"
                    },
                    {
                        "name": "BP Listing SKU Check",
                        "type": "text",
                        "label": "BP Listing SKU Check"
                    },
                    {
                        "name": "Status (from Product Title Link)",
                        "type": "array",
                        "label": "Status (from Product Title Link)"
                    },
                    {
                        "name": "Old Listing SKU Check",
                        "type": "text",
                        "label": "Old Listing SKU Check"
                    },
                    {
                        "name": "20221031_fix_not_push_inventory",
                        "type": "text",
                        "label": "20221031_fix_not_push_inventory"
                    },
                    {
                        "name": "Push Inventory Old",
                        "type": "text",
                        "label": "Push Inventory Old"
                    }
                ]
            }
        },
        {
            "id": 122,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                }
            },
            "routes": [
                {
                    "disabled": true,
                    "flow": [
                        {
                            "id": 121,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": false,
                                "useNewZLibDeCompress": "true"
                            },
                            "mapper": {
                                "ca": "",
                                "qs": [
                                    {
                                        "name": "recordID",
                                        "value": "{{118.id}}"
                                    },
                                    {
                                        "name": "api_type",
                                        "value": "Shopify"
                                    }
                                ],
                                "url": "https://hook.integromat.com/rlwgiq2wecs2clc7zrc16214k9ie5b3w",
                                "gzip": true,
                                "method": "post",
                                "headers": [],
                                "timeout": "",
                                "useMtls": false,
                                "authPass": "",
                                "authUser": "",
                                "bodyType": "",
                                "serializeUrl": false,
                                "shareCookies": false,
                                "parseResponse": false,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": -150,
                                    "name": "PIM - Record Level - Sync Skubana Listing"
                                },
                                "restore": {
                                    "qs": {
                                        "mode": "chose",
                                        "items": [
                                            "undefined",
                                            "undefined"
                                        ]
                                    },
                                    "method": {
                                        "mode": "chose",
                                        "label": "POST"
                                    },
                                    "headers": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "bodyType": {
                                        "label": ""
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    },
                                    {
                                        "name": "useNewZLibDeCompress",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers",
                                        "labels": {
                                            "add": "Add a header",
                                            "edit": "Edit a header"
                                        }
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String",
                                        "labels": {
                                            "add": "Add parameter",
                                            "edit": "Edit parameter"
                                        }
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate",
                                        "multiline": true
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "disabled": true,
                    "flow": [
                        {
                            "id": 123,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": false,
                                "useNewZLibDeCompress": "true"
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{118.Level}}",
                                            "b": "Product",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "ca": "",
                                "qs": [
                                    {
                                        "name": "recordID",
                                        "value": "{{118.id}}"
                                    },
                                    {
                                        "name": "api_type",
                                        "value": "Shopify"
                                    }
                                ],
                                "url": "https://hook.integromat.com/xjrgopf6dzba0auj2x1qtnf4mrppz44x",
                                "gzip": true,
                                "method": "post",
                                "headers": [],
                                "timeout": "",
                                "useMtls": false,
                                "authPass": "",
                                "authUser": "",
                                "bodyType": "",
                                "serializeUrl": false,
                                "shareCookies": false,
                                "parseResponse": false,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1083,
                                    "y": 143,
                                    "name": "PIM - Record Level - Fetch Listing Info - Shopify"
                                },
                                "restore": {
                                    "qs": {
                                        "mode": "chose",
                                        "items": [
                                            "undefined",
                                            "undefined"
                                        ]
                                    },
                                    "method": {
                                        "mode": "chose",
                                        "label": "POST"
                                    },
                                    "headers": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "bodyType": {
                                        "label": ""
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    },
                                    {
                                        "name": "useNewZLibDeCompress",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers",
                                        "labels": {
                                            "add": "Add a header",
                                            "edit": "Edit a header"
                                        }
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String",
                                        "labels": {
                                            "add": "Add parameter",
                                            "edit": "Edit parameter"
                                        }
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate",
                                        "multiline": true
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "disabled": true,
                    "flow": [
                        {
                            "id": 124,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": false,
                                "useNewZLibDeCompress": "true"
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{118.Level}}",
                                            "b": "Product Variant",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "ca": "",
                                "qs": [
                                    {
                                        "name": "recordID",
                                        "value": "{{118.id}}"
                                    },
                                    {
                                        "name": "api_type",
                                        "value": "Shopify"
                                    }
                                ],
                                "url": "https://hook.integromat.com/qwlb6p2h8scwej5xs1ssqgr1djb170bx",
                                "gzip": true,
                                "method": "post",
                                "headers": [],
                                "timeout": "",
                                "useMtls": false,
                                "authPass": "",
                                "authUser": "",
                                "bodyType": "",
                                "serializeUrl": false,
                                "shareCookies": false,
                                "parseResponse": false,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 930,
                                    "y": 450,
                                    "name": "PIM - Record Level - Sync Listing - Shopify"
                                },
                                "restore": {
                                    "qs": {
                                        "mode": "chose",
                                        "items": [
                                            "undefined",
                                            "undefined"
                                        ]
                                    },
                                    "method": {
                                        "mode": "chose",
                                        "label": "POST"
                                    },
                                    "headers": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "bodyType": {
                                        "label": ""
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    },
                                    {
                                        "name": "useNewZLibDeCompress",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers",
                                        "labels": {
                                            "add": "Add a header",
                                            "edit": "Edit a header"
                                        }
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String",
                                        "labels": {
                                            "add": "Add parameter",
                                            "edit": "Edit parameter"
                                        }
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate",
                                        "multiline": true
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "shatter": false,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 93,
                    "text": "Goes to this scenario:\nhttps://www.integromat.com/scenario/3150510",
                    "filter": false
                },
                {
                    "id": 94,
                    "text": "Goes to this scenario:\nhttps://www.integromat.com/scenario/3150501/edit",
                    "filter": false
                }
            ]
        },
        "zone": "eu1.integromat.com"
    }
}