integration/integromat/scenario/Active - NuOder - Skubana/Products - Alert products not existed on Skubana.json
{
    "name": "Products - Alert products not existed on Skubana",
    "flow": [
        {
            "id": 23,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "v_skubana_api_domain",
                        "value": "https://api.skubana.com"
                    },
                    {
                        "name": "v_skubana_access_token",
                        "value": "ab0e575e-113f-46f5-9c15-c86f019e56c2"
                    },
                    {
                        "name": "v_skubana_nuoder_sales_channel_id",
                        "value": "16879"
                    },
                    {
                        "name": "v_receipt_1",
                        "value": "gnguyen@nolk.com"
                    },
                    {
                        "name": "v_receipt_2",
                        "value": "os@nolk.com"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150,
                    "name": "Setup Variables"
                },
                "restore": {
                    "scope": {
                        "label": "One cycle"
                    },
                    "variables": {
                        "items": [
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined"
                        ]
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "v_skubana_api_domain",
                        "type": "any",
                        "label": "v_skubana_api_domain"
                    },
                    {
                        "name": "v_skubana_access_token",
                        "type": "any",
                        "label": "v_skubana_access_token"
                    },
                    {
                        "name": "v_skubana_nuoder_sales_channel_id",
                        "type": "any",
                        "label": "v_skubana_nuoder_sales_channel_id"
                    },
                    {
                        "name": "v_receipt_1",
                        "type": "any",
                        "label": "v_receipt_1"
                    },
                    {
                        "name": "v_receipt_2",
                        "type": "any",
                        "label": "v_receipt_2"
                    }
                ]
            }
        },
        {
            "id": 24,
            "module": "util:GetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "variables": [
                    "{{23.v_skubana_api_domain}}",
                    "{{23.v_skubana_access_token}}",
                    "{{23.v_skubana_nuoder_sales_channel_id}}",
                    "{{23.v_receipt_1}}",
                    "{{23.v_receipt_2}}"
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150,
                    "name": "Get Variables"
                },
                "restore": {
                    "variables": {
                        "items": [
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined"
                        ]
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": {
                            "name": "name",
                            "type": "text",
                            "label": "Variable name",
                            "required": true
                        },
                        "type": "array",
                        "label": "Variables"
                    }
                ],
                "interface": [
                    {
                        "name": "https://api.demo.skubana.com...",
                        "type": "any",
                        "label": "https://api.demo.skubana.com..."
                    },
                    {
                        "name": "f5f549b9-6853-4785-b07e-a1bcc0a73878...",
                        "type": "any",
                        "label": "f5f549b9-6853-4785-b07e-a1bcc0a73878..."
                    },
                    {
                        "name": "2229...",
                        "type": "any",
                        "label": "2229..."
                    },
                    {
                        "name": null,
                        "type": "any",
                        "label": null
                    }
                ]
            }
        },
        {
            "id": 21,
            "module": "amazon-lambda:invokeAFunction",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3127324
            },
            "mapper": {
                "body": "{\n  \"url\": \"/api/products/modified/after/1/1/2021\",\n  \"method\": \"GET\"\n}",
                "function": "nuorder_wrapper_api",
                "InvocationType": "RequestResponse"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150,
                    "name": "NuOder - Get all products"
                },
                "restore": {
                    "function": {
                        "mode": "chose",
                        "label": "nuorder_wrapper_api ($LATEST)"
                    },
                    "__IMTCONN__": {
                        "label": "My Amazon Lambda connection"
                    },
                    "InvocationType": {
                        "mode": "chose",
                        "label": "Request Response"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "function",
                        "type": "select",
                        "label": "Function Name",
                        "required": true
                    },
                    {
                        "name": "InvocationType",
                        "type": "select",
                        "label": "Invocation Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "RequestResponse",
                                "Event",
                                "DryRun"
                            ]
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "json:TransformToJSON",
            "version": 1,
            "parameters": {
                "space": ""
            },
            "mapper": {
                "object": "{{21.body}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                },
                "restore": {
                    "space": {
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "object",
                        "type": "any",
                        "label": "Object"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 186167
            },
            "mapper": {
                "json": "{{4.json}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150
                },
                "restore": {
                    "type": {
                        "label": "nuorder_products"
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "_id",
                        "type": "text"
                    },
                    {
                        "name": "active",
                        "type": "boolean"
                    },
                    {
                        "name": "archived",
                        "type": "boolean"
                    },
                    {
                        "name": "cancelled",
                        "type": "boolean"
                    },
                    {
                        "name": "images",
                        "type": "array"
                    },
                    {
                        "name": "available_now",
                        "type": "boolean"
                    },
                    {
                        "name": "size_groups",
                        "type": "array"
                    },
                    {
                        "name": "banners",
                        "type": "array"
                    },
                    {
                        "name": "__original_composite_keys",
                        "type": "boolean"
                    },
                    {
                        "name": "__inventory",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array"
                    },
                    {
                        "name": "__tracks_inventory",
                        "type": "boolean"
                    },
                    {
                        "name": "__warehouses",
                        "type": "array"
                    },
                    {
                        "name": "__sold_out",
                        "type": "boolean"
                    },
                    {
                        "name": "__merchandising_order",
                        "type": "number"
                    },
                    {
                        "name": "__pack_ids",
                        "type": "array"
                    },
                    {
                        "name": "seasons",
                        "type": "array"
                    },
                    {
                        "name": "schema_id",
                        "type": "text"
                    },
                    {
                        "name": "sizes",
                        "spec": {
                            "spec": [
                                {
                                    "name": "size",
                                    "type": "text"
                                },
                                {
                                    "name": "upc",
                                    "type": "text"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array"
                    },
                    {
                        "name": "pricing",
                        "spec": [
                            {
                                "name": "USD",
                                "spec": [
                                    {
                                        "name": "wholesale",
                                        "type": "number"
                                    },
                                    {
                                        "name": "retail",
                                        "type": "number"
                                    }
                                ],
                                "type": "collection"
                            }
                        ],
                        "type": "collection"
                    },
                    {
                        "name": "name",
                        "type": "text"
                    },
                    {
                        "name": "style_number",
                        "type": "text"
                    },
                    {
                        "name": "season",
                        "type": "text"
                    },
                    {
                        "name": "color",
                        "type": "text"
                    },
                    {
                        "name": "color_code",
                        "type": "text"
                    },
                    {
                        "name": "category",
                        "type": "text"
                    },
                    {
                        "name": "subcategory",
                        "type": "text"
                    },
                    {
                        "name": "description",
                        "type": "text"
                    },
                    {
                        "name": "brand_id",
                        "type": "text"
                    },
                    {
                        "name": "__pending_initial_pricing",
                        "type": "boolean"
                    },
                    {
                        "name": "__brand_name",
                        "type": "text"
                    },
                    {
                        "name": "__size_ids",
                        "spec": {
                            "spec": [
                                {
                                    "name": "_id",
                                    "type": "text"
                                },
                                {
                                    "name": "size",
                                    "type": "text"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array"
                    },
                    {
                        "name": "created_on",
                        "type": "date"
                    },
                    {
                        "name": "__variant_colors",
                        "spec": {
                            "spec": [
                                {
                                    "name": "_id",
                                    "type": "text"
                                },
                                {
                                    "name": "color",
                                    "type": "text"
                                },
                                {
                                    "name": "ref",
                                    "type": "text"
                                },
                                {
                                    "name": "swatch",
                                    "type": "text"
                                },
                                {
                                    "name": "swatch_label",
                                    "type": "text"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array"
                    },
                    {
                        "name": "__variant_colors_inactive",
                        "type": "array"
                    },
                    {
                        "name": "__inventory_cache",
                        "type": "array"
                    },
                    {
                        "name": "__barcode",
                        "type": "text"
                    },
                    {
                        "name": "modified_on",
                        "type": "date"
                    },
                    {
                        "name": "__size_run",
                        "type": "text"
                    },
                    {
                        "name": "__size_range",
                        "type": "text"
                    },
                    {
                        "name": "unique_key",
                        "type": "text"
                    },
                    {
                        "name": "available_from",
                        "type": "text"
                    },
                    {
                        "name": "available_until",
                        "type": "text"
                    },
                    {
                        "name": "order_closing",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "Product not yet archived",
                "conditions": [
                    [
                        {
                            "a": "{{5.archived}}",
                            "b": "false",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "array": "{{5.sizes[].upc}}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 150,
                    "name": "UPC"
                },
                "restore": {
                    "array": {
                        "mode": "edit"
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": "true"
            },
            "mapper": {
                "ca": "",
                "qs": [
                    {
                        "name": "sku",
                        "value": "{{6.value}}"
                    }
                ],
                "url": "{{23.v_skubana_api_domain}}/v1.1/product",
                "gzip": true,
                "method": "get",
                "headers": [
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    },
                    {
                        "name": "Authorization",
                        "value": "Bearer {{23.v_skubana_access_token}}"
                    }
                ],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 150,
                    "name": "Skubana - GET Product"
                },
                "restore": {
                    "qs": {
                        "mode": "chose",
                        "items": [
                            "undefined"
                        ]
                    },
                    "method": {
                        "mode": "chose",
                        "label": "GET"
                    },
                    "headers": {
                        "mode": "chose",
                        "items": [
                            "undefined",
                            "undefined"
                        ]
                    },
                    "bodyType": {
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers",
                        "labels": {
                            "add": "Add a header",
                            "edit": "Edit a header"
                        }
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String",
                        "labels": {
                            "add": "Add parameter",
                            "edit": "Edit parameter"
                        }
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate",
                        "multiline": true
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 15,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 2944151
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{8.data.error}}",
                                            "b": "Not found",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "{{23.v_receipt_1}}"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "NuOder - Product {{6.value}} not existed on Skubana, please define sku {{6.value}} on Skubana.",
                                "subject": "NuOder - Product {{6.value}} not existed on Skubana",
                                "attachments": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 0
                                },
                                "restore": {
                                    "cc": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "to": {
                                        "mode": "chose",
                                        "items": [
                                            "undefined"
                                        ]
                                    },
                                    "bcc": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "account": {
                                        "label": "My Google Restricted connection (gnguyen@nolk.com)"
                                    },
                                    "attachments": {
                                        "mode": "chose",
                                        "items": []
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": " ",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "labels": {
                                            "add": "Add a recipient",
                                            "edit": "Edit a recipient"
                                        },
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments",
                                        "labels": {
                                            "add": "Add an attachment",
                                            "edit": "Edit an attachment"
                                        }
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient",
                                        "labels": {
                                            "add": "Add a copy recipient",
                                            "edit": "Edit a copy recipient"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient",
                                        "labels": {
                                            "add": "Add a blind copy recipient",
                                            "edit": "Edit a blind copy recipient"
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 17,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": false,
                                "useNewZLibDeCompress": "true"
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{8.statusCode}}",
                                            "b": "200",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{8.data.masterSku}}",
                                            "b": "",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "ca": "",
                                "qs": [],
                                "url": "{{23.v_skubana_api_domain}}/v1/listings?masterSku={{8.data.masterSku}}&salesChannelId={{23.v_skubana_nuoder_sales_channel_id}}",
                                "gzip": true,
                                "method": "get",
                                "headers": [
                                    {
                                        "name": "Content-Type",
                                        "value": "application/json"
                                    },
                                    {
                                        "name": "Authorization",
                                        "value": "Bearer f5f549b9-6853-4785-b07e-a1bcc0a73878"
                                    }
                                ],
                                "timeout": "",
                                "useMtls": false,
                                "authPass": "",
                                "authUser": "",
                                "bodyType": "",
                                "serializeUrl": false,
                                "shareCookies": false,
                                "parseResponse": false,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 300,
                                    "name": "Skubana - Check listing definiation"
                                },
                                "restore": {
                                    "qs": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "method": {
                                        "mode": "chose",
                                        "label": "GET"
                                    },
                                    "headers": {
                                        "mode": "chose",
                                        "items": [
                                            "undefined",
                                            "undefined"
                                        ]
                                    },
                                    "bodyType": {
                                        "label": ""
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    },
                                    {
                                        "name": "useNewZLibDeCompress",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers",
                                        "labels": {
                                            "add": "Add a header",
                                            "edit": "Edit a header"
                                        }
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String",
                                        "labels": {
                                            "add": "Add parameter",
                                            "edit": "Edit parameter"
                                        }
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate",
                                        "multiline": true
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 20,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 2944151
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{17.data}}",
                                            "b": "[]",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "{{23.v_receipt_1}}"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "NuOder - Product {{6.value}} not yet define listing on Skubana, please define sku {{6.value}} on listings for NuOder sales channel on Skubana.",
                                "subject": "NuOder - Product {{6.value}} not yet define listing on Skubana",
                                "attachments": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": 300
                                },
                                "restore": {
                                    "cc": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "to": {
                                        "mode": "chose",
                                        "items": [
                                            "undefined"
                                        ]
                                    },
                                    "bcc": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "account": {
                                        "label": "My Google Restricted connection (gnguyen@nolk.com)"
                                    },
                                    "attachments": {
                                        "mode": "chose",
                                        "items": []
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": " ",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "labels": {
                                            "add": "Add a recipient",
                                            "edit": "Edit a recipient"
                                        },
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments",
                                        "labels": {
                                            "add": "Add an attachment",
                                            "edit": "Edit an attachment"
                                        }
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient",
                                        "labels": {
                                            "add": "Add a copy recipient",
                                            "edit": "Edit a copy recipient"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient",
                                        "labels": {
                                            "add": "Add a blind copy recipient",
                                            "edit": "Edit a blind copy recipient"
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "shatter": false,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}