make/Active - Nolk PIM V2/PIM - All - Get vendors from Skubana.json
{
    "name": "PIM - All - Get vendors from Skubana",
    "flow": [
        {
            "id": 93,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 330931,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "hook": {
                        "label": "PIM - All - Get Vendors from Skubana"
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "recordID",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 94,
            "module": "airtable:ActionGetRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 589530
            },
            "mapper": {
                "id": "{{93.recordID}}",
                "base": "appQD8vyOEbpbsJR9",
                "table": "Functions",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "base": {
                        "mode": "chose",
                        "label": "Nolk PIM V2"
                    },
                    "table": {
                        "mode": "chose",
                        "label": "Functions"
                    },
                    "__IMTCONN__": {
                        "label": "Nolk OS Airtable"
                    },
                    "useColumnId": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "Description",
                        "type": "text",
                        "label": "Description",
                        "multiline": true
                    },
                    {
                        "name": "Note",
                        "type": "text",
                        "label": "Note"
                    },
                    {
                        "name": "Button",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Button"
                    },
                    {
                        "name": "Last Synced At",
                        "time": true,
                        "type": "date",
                        "label": "Last Synced At"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "skubana_api_slug",
                        "value": "https://api.skubana.com"
                    },
                    {
                        "name": "skubana_access_token",
                        "value": "ab0e575e-113f-46f5-9c15-c86f019e56c2"
                    },
                    {
                        "name": "v_receipt_1",
                        "value": "gnguyen@nolk.com"
                    },
                    {
                        "name": "GET: Skubana Products",
                        "value": "/v1.1/products"
                    },
                    {
                        "name": "GET: Skubana Vendors",
                        "value": "/v1/vendors"
                    },
                    {
                        "name": "GET: Vendor Products",
                        "value": "/v1/vendorproducts"
                    },
                    {
                        "name": "GET: Single Skubana Product",
                        "value": "/v1.1/product"
                    },
                    {
                        "name": "PUT: Skubana Vendor",
                        "value": "/v1/vendors"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "scope": {
                        "label": "One cycle"
                    },
                    "variables": {
                        "items": [
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined"
                        ]
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "skubana_api_slug",
                        "type": "any",
                        "label": "skubana_api_slug"
                    },
                    {
                        "name": "skubana_access_token",
                        "type": "any",
                        "label": "skubana_access_token"
                    },
                    {
                        "name": "v_receipt_1",
                        "type": "any",
                        "label": "v_receipt_1"
                    },
                    {
                        "name": "GET: Skubana Products",
                        "type": "any",
                        "label": "GET: Skubana Products"
                    },
                    {
                        "name": "GET: Skubana Vendors",
                        "type": "any",
                        "label": "GET: Skubana Vendors"
                    },
                    {
                        "name": "GET: Vendor Products",
                        "type": "any",
                        "label": "GET: Vendor Products"
                    },
                    {
                        "name": "GET: Single Skubana Product",
                        "type": "any",
                        "label": "GET: Single Skubana Product"
                    },
                    {
                        "name": "PUT: Skubana Vendor",
                        "type": "any",
                        "label": "PUT: Skubana Vendor"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "builtin:BasicRepeater",
            "version": 1,
            "parameters": {},
            "mapper": {
                "step": "1",
                "start": "1",
                "repeats": "5"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "expect": [
                    {
                        "name": "start",
                        "type": "number",
                        "label": "Initial value",
                        "required": true
                    },
                    {
                        "name": "repeats",
                        "type": "number",
                        "label": "Repeats",
                        "required": true,
                        "validate": {
                            "max": 10000,
                            "min": 0
                        }
                    },
                    {
                        "name": "step",
                        "type": "number",
                        "label": "Step",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": "true"
            },
            "mapper": {
                "ca": "",
                "qs": [
                    {
                        "name": "page",
                        "value": "{{8.i}}"
                    }
                ],
                "url": "{{2.skubana_api_slug}}{{2.`GET: Skubana Vendors`}}",
                "gzip": true,
                "method": "get",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer {{2.skubana_access_token}}"
                    }
                ],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "qs": {
                        "mode": "chose",
                        "items": [
                            "undefined"
                        ]
                    },
                    "method": {
                        "mode": "chose",
                        "label": "GET"
                    },
                    "headers": {
                        "mode": "chose",
                        "items": [
                            "undefined"
                        ]
                    },
                    "bodyType": {
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers",
                        "labels": {
                            "add": "Add a header",
                            "edit": "Edit a header"
                        }
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String",
                        "labels": {
                            "add": "Add parameter",
                            "edit": "Edit parameter"
                        }
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate",
                        "multiline": true
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 22,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "Status = 200",
                "conditions": [
                    [
                        {
                            "a": "{{4.statusCode}}",
                            "b": "200",
                            "o": "number:equal"
                        },
                        {
                            "a": "{{4.fileSize}}",
                            "b": "5",
                            "o": "number:greater"
                        }
                    ]
                ]
            },
            "mapper": {
                "array": "{{4.data}}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "array": {
                        "mode": "edit"
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 20,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 589530
            },
            "mapper": {
                "base": "appQD8vyOEbpbsJR9",
                "table": "Vendors",
                "formula": "{Skubana ID} = \"{{22.vendorId}}\"",
                "maxRecords": "1",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "base": {
                        "mode": "chose",
                        "label": "Nolk PIM V2"
                    },
                    "sort": {
                        "mode": "chose",
                        "items": []
                    },
                    "view": {
                        "mode": "chose",
                        "label": ""
                    },
                    "table": {
                        "mode": "chose",
                        "label": "Vendors"
                    },
                    "__IMTCONN__": {
                        "label": "Nolk OS Airtable"
                    },
                    "useColumnId": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field"
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "Country",
                        "type": "text",
                        "label": "Country"
                    },
                    {
                        "name": "State",
                        "type": "text",
                        "label": "State"
                    },
                    {
                        "name": "Province",
                        "type": "text",
                        "label": "Province"
                    },
                    {
                        "name": "City",
                        "type": "text",
                        "label": "City"
                    },
                    {
                        "name": "Address",
                        "type": "text",
                        "label": "Address",
                        "multiline": true
                    },
                    {
                        "name": "Zip Code",
                        "type": "text",
                        "label": "Zip Code"
                    },
                    {
                        "name": "Contact Email",
                        "type": "text",
                        "label": "Contact Email"
                    },
                    {
                        "name": "Purchase Order Email",
                        "type": "text",
                        "label": "Purchase Order Email"
                    },
                    {
                        "name": "Contact Phone",
                        "type": "text",
                        "label": "Contact Phone"
                    },
                    {
                        "name": "Contact Phone 2",
                        "type": "text",
                        "label": "Contact Phone 2"
                    },
                    {
                        "name": "Fax",
                        "type": "text",
                        "label": "Fax"
                    },
                    {
                        "name": "Website",
                        "type": "text",
                        "label": "Website"
                    },
                    {
                        "name": "Dropshipper?",
                        "type": "text",
                        "label": "Dropshipper?"
                    },
                    {
                        "name": "Manufacturer?",
                        "type": "text",
                        "label": "Manufacturer?"
                    },
                    {
                        "name": "Supplier?",
                        "type": "text",
                        "label": "Supplier?"
                    },
                    {
                        "name": "Skubana ID",
                        "type": "number",
                        "label": "Skubana ID"
                    },
                    {
                        "name": "Active",
                        "type": "text",
                        "label": "Active"
                    },
                    {
                        "name": "SKUs",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "SKUs"
                    }
                ]
            }
        },
        {
            "id": 52,
            "module": "airtable:upsertRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 589530
            },
            "mapper": {
                "base": "appQD8vyOEbpbsJR9",
                "table": "Vendors",
                "record": {
                    "fld5ugUw4NdZiKR0e": "{{22.address.province}}",
                    "fld80Uu9CEFk5nVTq": "{{22.address.country}}",
                    "fldBi6sC93yRUFyRj": "{{22.address.state}}",
                    "fldF4BbgrPHuoHDYe": "{{22.dropshipper}}",
                    "fldFc2afO7RtQxdzy": "{{22.purchaseOrderEmail}}",
                    "fldHLoeE7G6l6BNMf": "{{22.active}}",
                    "fldLjB7GeoWEYTT5W": "{{22.contactEmail}}",
                    "fldP0UvdN0r3nNkYv": "{{22.manufacturer}}",
                    "fldXnmkYBiaxGhwbd": "{{22.website}}",
                    "fldb6k9jhxduKxD24": "{{22.fax}}",
                    "fldbUAnvhVu6DFgWa": "{{22.vendorId}}",
                    "fldf5anoi5f2aKOgJ": "{{22.address.zipCode}}",
                    "fldix1c44ccW5Mt5v": "{{22.name}}",
                    "fldmU7qxQzLHJzKB8": "{{22.address.city}}",
                    "fldsOSEKfrDb3LvoS": "{{22.contactPhone1}}",
                    "fldw4gL4mNcRF1Kj3": "{{22.supplier}}",
                    "fldxEjgl5iICcaHJ2": "{{22.address.address1}}{{22.address.address2}}{{22.address.address3}}",
                    "fldzREbeAfn5AfQfQ": "{{22.contactPhone2}}"
                },
                "recordId": "{{20.id}}",
                "typecast": true,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0
                },
                "restore": {
                    "base": {
                        "label": "Nolk PIM V2"
                    },
                    "table": {
                        "label": "Vendors"
                    },
                    "record": {
                        "nested": {
                            "fldA8KkNHQbmlT1Wl": {
                                "mode": "chose",
                                "items": []
                            }
                        }
                    },
                    "typecast": {
                        "mode": "chose"
                    },
                    "__IMTCONN__": {
                        "label": "Nolk OS Airtable"
                    },
                    "useColumnId": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "recordId",
                        "type": "text",
                        "label": "Record ID"
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldix1c44ccW5Mt5v",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "fld80Uu9CEFk5nVTq",
                                "type": "text",
                                "label": "Country"
                            },
                            {
                                "name": "fldBi6sC93yRUFyRj",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "fld5ugUw4NdZiKR0e",
                                "type": "text",
                                "label": "Province"
                            },
                            {
                                "name": "fldmU7qxQzLHJzKB8",
                                "type": "text",
                                "label": "City"
                            },
                            {
                                "name": "fldxEjgl5iICcaHJ2",
                                "type": "text",
                                "label": "Address",
                                "multiline": true
                            },
                            {
                                "name": "fldf5anoi5f2aKOgJ",
                                "type": "text",
                                "label": "Zip Code"
                            },
                            {
                                "name": "fldLjB7GeoWEYTT5W",
                                "type": "text",
                                "label": "Contact Email"
                            },
                            {
                                "name": "fldFc2afO7RtQxdzy",
                                "type": "text",
                                "label": "Purchase Order Email"
                            },
                            {
                                "name": "fldsOSEKfrDb3LvoS",
                                "type": "text",
                                "label": "Contact Phone"
                            },
                            {
                                "name": "fldzREbeAfn5AfQfQ",
                                "type": "text",
                                "label": "Contact Phone 2"
                            },
                            {
                                "name": "fldb6k9jhxduKxD24",
                                "type": "text",
                                "label": "Fax"
                            },
                            {
                                "name": "fldXnmkYBiaxGhwbd",
                                "type": "text",
                                "label": "Website"
                            },
                            {
                                "name": "fldF4BbgrPHuoHDYe",
                                "type": "text",
                                "label": "Dropshipper?"
                            },
                            {
                                "name": "fldP0UvdN0r3nNkYv",
                                "type": "text",
                                "label": "Manufacturer?"
                            },
                            {
                                "name": "fldw4gL4mNcRF1Kj3",
                                "type": "text",
                                "label": "Supplier?"
                            },
                            {
                                "name": "fldbUAnvhVu6DFgWa",
                                "type": "number",
                                "label": "Skubana ID"
                            },
                            {
                                "name": "fldHLoeE7G6l6BNMf",
                                "type": "text",
                                "label": "Active"
                            },
                            {
                                "name": "fldA8KkNHQbmlT1Wl",
                                "spec": {
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "SKUs"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "Country",
                        "type": "text",
                        "label": "Country"
                    },
                    {
                        "name": "State",
                        "type": "text",
                        "label": "State"
                    },
                    {
                        "name": "Province",
                        "type": "text",
                        "label": "Province"
                    },
                    {
                        "name": "City",
                        "type": "text",
                        "label": "City"
                    },
                    {
                        "name": "Address",
                        "type": "text",
                        "label": "Address",
                        "multiline": true
                    },
                    {
                        "name": "Zip Code",
                        "type": "text",
                        "label": "Zip Code"
                    },
                    {
                        "name": "Contact Email",
                        "type": "text",
                        "label": "Contact Email"
                    },
                    {
                        "name": "Purchase Order Email",
                        "type": "text",
                        "label": "Purchase Order Email"
                    },
                    {
                        "name": "Contact Phone",
                        "type": "text",
                        "label": "Contact Phone"
                    },
                    {
                        "name": "Contact Phone 2",
                        "type": "text",
                        "label": "Contact Phone 2"
                    },
                    {
                        "name": "Fax",
                        "type": "text",
                        "label": "Fax"
                    },
                    {
                        "name": "Website",
                        "type": "text",
                        "label": "Website"
                    },
                    {
                        "name": "Dropshipper?",
                        "type": "text",
                        "label": "Dropshipper?"
                    },
                    {
                        "name": "Manufacturer?",
                        "type": "text",
                        "label": "Manufacturer?"
                    },
                    {
                        "name": "Supplier?",
                        "type": "text",
                        "label": "Supplier?"
                    },
                    {
                        "name": "Skubana ID",
                        "type": "number",
                        "label": "Skubana ID"
                    },
                    {
                        "name": "Active",
                        "type": "text",
                        "label": "Active"
                    },
                    {
                        "name": "SKUs",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "SKUs"
                    }
                ]
            }
        },
        {
            "id": 95,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 22
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0
                },
                "restore": {
                    "feeder": {
                        "label": "Iterator [22]"
                    },
                    "target": {
                        "label": "Custom"
                    }
                }
            }
        },
        {
            "id": 96,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 589530
            },
            "mapper": {
                "id": "{{94.id}}",
                "base": "appQD8vyOEbpbsJR9",
                "table": "Functions",
                "record": {
                    "fldBr2zCAPnmjI3wO": "{{now}}"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 2700,
                    "y": 0
                },
                "restore": {
                    "base": {
                        "label": "Nolk PIM V2"
                    },
                    "table": {
                        "label": "Functions"
                    },
                    "typecast": {
                        "mode": "chose"
                    },
                    "__IMTCONN__": {
                        "label": "Nolk OS Airtable"
                    },
                    "useColumnId": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldA9bC6OfDEBg9xt",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "fldWKTfoYzFbRsyXs",
                                "type": "text",
                                "label": "Description",
                                "multiline": true
                            },
                            {
                                "name": "fldtErmCpTOBI2lgB",
                                "type": "text",
                                "label": "Note"
                            },
                            {
                                "name": "fldBr2zCAPnmjI3wO",
                                "time": true,
                                "type": "date",
                                "label": "Last Synced At"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "Description",
                        "type": "text",
                        "label": "Description",
                        "multiline": true
                    },
                    {
                        "name": "Note",
                        "type": "text",
                        "label": "Note"
                    },
                    {
                        "name": "Button",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Button"
                    },
                    {
                        "name": "Last Synced At",
                        "time": true,
                        "type": "date",
                        "label": "Last Synced At"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 51,
                    "text": "",
                    "filter": false
                },
                {
                    "text": "Status Code: 200\nor\nData: blank",
                    "filter": true
                },
                {
                    "text": "Status Code: 200\n&\nData: Not blank",
                    "filter": true
                },
                {
                    "text": "Stop if data blank or",
                    "filter": true
                }
            ]
        },
        "zone": "us1.make.com"
    }
}