integration/integromat/scenario/Archived - OLD PIM  Skubana SKUs/(2.0) Sync Master SKU data on request.json
{
    "name": "(2.0) Sync: Master SKU data on request",
    "flow": [
        {
            "id": 3,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1387928,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "hook": {
                        "label": "API Miss Trigger"
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "recordID",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "skubana_api_slug",
                        "value": "https://api.skubana.com"
                    },
                    {
                        "name": "skubana_access_token",
                        "value": "ab0e575e-113f-46f5-9c15-c86f019e56c2"
                    },
                    {
                        "name": "v_receipt_1",
                        "value": "martin@nolk.com"
                    },
                    {
                        "name": "GET: Skubana Products",
                        "value": "/v1.1/products"
                    },
                    {
                        "name": "GET: Single Skubana Product",
                        "value": "/v1.1/product"
                    },
                    {
                        "name": "PUT: Skubana Core",
                        "value": "/v1.1/products/cores"
                    },
                    {
                        "name": "PUT: Skubana Bundles",
                        "value": "/v1.1/products/bundles"
                    },
                    {
                        "name": "active",
                        "value": "true"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "scope": {
                        "label": "One cycle"
                    },
                    "variables": {
                        "items": [
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined"
                        ]
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "skubana_api_slug",
                        "type": "any",
                        "label": "skubana_api_slug"
                    },
                    {
                        "name": "skubana_access_token",
                        "type": "any",
                        "label": "skubana_access_token"
                    },
                    {
                        "name": "v_receipt_1",
                        "type": "any",
                        "label": "v_receipt_1"
                    },
                    {
                        "name": "GET: Skubana Products",
                        "type": "any",
                        "label": "GET: Skubana Products"
                    },
                    {
                        "name": "GET: Single Skubana Product",
                        "type": "any",
                        "label": "GET: Single Skubana Product"
                    },
                    {
                        "name": "PUT: Skubana Core",
                        "type": "any",
                        "label": "PUT: Skubana Core"
                    },
                    {
                        "name": "PUT: Skubana Bundles",
                        "type": "any",
                        "label": "PUT: Skubana Bundles"
                    },
                    {
                        "name": "active",
                        "type": "any",
                        "label": "active"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "airtable:ActionGetRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 3543976
            },
            "mapper": {
                "id": "{{3.recordID}}",
                "base": "appYS5dIeZyo4f0cy",
                "table": "Master SKUs",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "GET: Master SKU Record"
                },
                "restore": {
                    "base": {
                        "mode": "chose",
                        "label": "Skubana Environment"
                    },
                    "table": {
                        "mode": "chose",
                        "label": "Master SKUs"
                    },
                    "__IMTCONN__": {
                        "label": "Nolk OS Airtable"
                    },
                    "useColumnId": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Master SKU",
                        "type": "text",
                        "label": "Master SKU"
                    },
                    {
                        "name": "Brand",
                        "type": "text",
                        "label": "Brand"
                    },
                    {
                        "name": "Name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "Notes",
                        "type": "text",
                        "label": "Notes",
                        "multiline": true
                    },
                    {
                        "name": "Active",
                        "type": "text",
                        "label": "Active"
                    },
                    {
                        "name": "upc",
                        "type": "text",
                        "label": "upc"
                    },
                    {
                        "name": "weight",
                        "type": "text",
                        "label": "weight"
                    },
                    {
                        "name": "Created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "Last Modified",
                        "type": "date",
                        "label": "Last Modified"
                    },
                    {
                        "name": "productId",
                        "type": "text",
                        "label": "productId"
                    },
                    {
                        "name": "Vendor SKUs",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Vendor SKUs"
                    },
                    {
                        "name": "Sync Skubana",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Sync Skubana"
                    },
                    {
                        "name": "Pricing Tiers (from Vendor SKUs)",
                        "type": "array",
                        "label": "Pricing Tiers (from Vendor SKUs)"
                    },
                    {
                        "name": "Vendors",
                        "type": "array",
                        "label": "Vendors"
                    },
                    {
                        "name": "VendorID (from Vendor) (from Vendor SKUs)",
                        "type": "array",
                        "label": "VendorID (from Vendor) (from Vendor SKUs)"
                    },
                    {
                        "name": "PIM Products",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "PIM Products"
                    }
                ]
            }
        },
        {
            "id": 38,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": "true"
            },
            "mapper": {
                "ca": "",
                "qs": [
                    {
                        "name": "sku",
                        "value": "{{4.`Master SKU`}}"
                    }
                ],
                "url": "{{9.skubana_api_slug}}{{9.`GET: Single Skubana Product`}}",
                "gzip": true,
                "method": "get",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer {{9.skubana_access_token}}"
                    }
                ],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "Search Skubana: Master SKU"
                },
                "restore": {
                    "qs": {
                        "mode": "chose",
                        "items": [
                            "undefined"
                        ]
                    },
                    "method": {
                        "mode": "chose",
                        "label": "GET"
                    },
                    "headers": {
                        "mode": "chose",
                        "items": [
                            "undefined"
                        ]
                    },
                    "bodyType": {
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers",
                        "labels": {
                            "add": "Add a header",
                            "edit": "Edit a header"
                        }
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String",
                        "labels": {
                            "add": "Add parameter",
                            "edit": "Edit parameter"
                        }
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate",
                        "multiline": true
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 113,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 3543976
            },
            "mapper": {
                "id": "{{4.id}}",
                "base": "appYS5dIeZyo4f0cy",
                "table": "Master SKUs",
                "record": {
                    "fld0zHWb9qYQ1tYrV": "{{38.data.masterSku}}",
                    "fld2Bg6sEvxxjBcY7": "{{38.data.weight}}",
                    "fld2DZOxqGl3I4HTp": "{{38.data.upc}}",
                    "fldFY4gNgEpUx8HF8": "{{38.data.productId}}",
                    "fldMGeGinj1jUvSAY": "{{38.data.name}}",
                    "fldRNtZYCPEGDJc3P": "Synced from Skubana at {{now}}",
                    "fldcOdEieQQfpxtSg": "{{38.data.active}}",
                    "fldx6JX4RvClFPlWy": "{{38.data.brand}}"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "base": {
                        "label": "Skubana Environment"
                    },
                    "table": {
                        "label": "Master SKUs"
                    },
                    "record": {
                        "nested": {
                            "fld2Fd0krbTjOuqLN": {
                                "mode": "chose",
                                "items": []
                            },
                            "fldCCxW1b4GoGWbTt": {
                                "mode": "chose",
                                "items": []
                            }
                        }
                    },
                    "typecast": {
                        "mode": "chose"
                    },
                    "__IMTCONN__": {
                        "label": "Nolk OS Airtable"
                    },
                    "useColumnId": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fld0zHWb9qYQ1tYrV",
                                "type": "text",
                                "label": "Master SKU"
                            },
                            {
                                "name": "fldx6JX4RvClFPlWy",
                                "type": "text",
                                "label": "Brand"
                            },
                            {
                                "name": "fldMGeGinj1jUvSAY",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "fldRNtZYCPEGDJc3P",
                                "type": "text",
                                "label": "Notes",
                                "multiline": true
                            },
                            {
                                "name": "fldcOdEieQQfpxtSg",
                                "type": "text",
                                "label": "Active"
                            },
                            {
                                "name": "fld2DZOxqGl3I4HTp",
                                "type": "text",
                                "label": "upc"
                            },
                            {
                                "name": "fld2Bg6sEvxxjBcY7",
                                "type": "text",
                                "label": "weight"
                            },
                            {
                                "name": "fldFY4gNgEpUx8HF8",
                                "type": "text",
                                "label": "productId"
                            },
                            {
                                "name": "fld2Fd0krbTjOuqLN",
                                "spec": {
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Vendor SKUs"
                            },
                            {
                                "name": "fldCCxW1b4GoGWbTt",
                                "spec": {
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "PIM Products"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Master SKU",
                        "type": "text",
                        "label": "Master SKU"
                    },
                    {
                        "name": "Brand",
                        "type": "text",
                        "label": "Brand"
                    },
                    {
                        "name": "Name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "Notes",
                        "type": "text",
                        "label": "Notes",
                        "multiline": true
                    },
                    {
                        "name": "Active",
                        "type": "text",
                        "label": "Active"
                    },
                    {
                        "name": "upc",
                        "type": "text",
                        "label": "upc"
                    },
                    {
                        "name": "weight",
                        "type": "text",
                        "label": "weight"
                    },
                    {
                        "name": "Created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "Last Modified",
                        "type": "date",
                        "label": "Last Modified"
                    },
                    {
                        "name": "productId",
                        "type": "text",
                        "label": "productId"
                    },
                    {
                        "name": "Vendor SKUs",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Vendor SKUs"
                    },
                    {
                        "name": "Sync Master SKU",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Sync Master SKU"
                    },
                    {
                        "name": "Pricing Tiers (from Vendor SKUs)",
                        "type": "array",
                        "label": "Pricing Tiers (from Vendor SKUs)"
                    },
                    {
                        "name": "Vendor(s)",
                        "type": "array",
                        "label": "Vendor(s)"
                    },
                    {
                        "name": "VendorID (from Vendor) (from Vendor SKUs)",
                        "type": "array",
                        "label": "VendorID (from Vendor) (from Vendor SKUs)"
                    },
                    {
                        "name": "PIM Products",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "PIM Products"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "shatter": false,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 93,
                    "text": "Goes to this scenario:\nhttps://www.integromat.com/scenario/3150510",
                    "filter": false
                },
                {
                    "id": 94,
                    "text": "Goes to this scenario:\nhttps://www.integromat.com/scenario/3150501/edit",
                    "filter": false
                }
            ]
        },
        "zone": "eu1.integromat.com"
    }
}