integration/integromat/exported/20221219/Archived - OLD PIM  Skubana Vendors/PUT Pricing Tier for Vendor SKU.json
{
    "name": "PUT: Pricing Tier for Vendor SKU",
    "flow": [
        {
            "id": 9,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1400057,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 450
                },
                "restore": {
                    "hook": {
                        "label": "PUT: Pricing Tier for Vendor SKU"
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "recordID",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "skubana_api_slug",
                        "value": "https://api.skubana.com"
                    },
                    {
                        "name": "skubana_access_token",
                        "value": "ab0e575e-113f-46f5-9c15-c86f019e56c2"
                    },
                    {
                        "name": "v_receipt_1",
                        "value": "martin@nolk.com"
                    },
                    {
                        "name": "GET: Skubana Products",
                        "value": "/v1.1/products"
                    },
                    {
                        "name": "GET: Single Skubana Product",
                        "value": "/v1.1/product"
                    },
                    {
                        "name": "PUT: Skubana Core",
                        "value": "/v1.1/products/cores"
                    },
                    {
                        "name": "PUT: Skubana Bundles",
                        "value": "/v1.1/products/bundles"
                    },
                    {
                        "name": "GET: Skubana VendorProduct",
                        "value": "/v1/vendorproducts"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 450
                },
                "restore": {
                    "scope": {
                        "label": "One cycle"
                    },
                    "variables": {
                        "items": [
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined"
                        ]
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "skubana_api_slug",
                        "type": "any",
                        "label": "skubana_api_slug"
                    },
                    {
                        "name": "skubana_access_token",
                        "type": "any",
                        "label": "skubana_access_token"
                    },
                    {
                        "name": "v_receipt_1",
                        "type": "any",
                        "label": "v_receipt_1"
                    },
                    {
                        "name": "GET: Skubana Products",
                        "type": "any",
                        "label": "GET: Skubana Products"
                    },
                    {
                        "name": "GET: Single Skubana Product",
                        "type": "any",
                        "label": "GET: Single Skubana Product"
                    },
                    {
                        "name": "PUT: Skubana Core",
                        "type": "any",
                        "label": "PUT: Skubana Core"
                    },
                    {
                        "name": "PUT: Skubana Bundles",
                        "type": "any",
                        "label": "PUT: Skubana Bundles"
                    },
                    {
                        "name": "GET: Skubana VendorProduct",
                        "type": "any",
                        "label": "GET: Skubana VendorProduct"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "airtable:ActionGetRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 3543976
            },
            "mapper": {
                "id": "{{9.recordID}}",
                "base": "appYS5dIeZyo4f0cy",
                "table": "Vendor SKU Pricing",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 450
                },
                "restore": {
                    "base": {
                        "mode": "chose",
                        "label": "Skubana Environment"
                    },
                    "table": {
                        "mode": "chose",
                        "label": "Vendor SKU Pricing"
                    },
                    "__IMTCONN__": {
                        "label": "Nolk OS Airtable"
                    },
                    "useColumnId": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Tier",
                        "type": "text",
                        "label": "Tier"
                    },
                    {
                        "name": "Vendor Product",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Vendor Product"
                    },
                    {
                        "name": "DEL: Pricing Tier",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "DEL: Pricing Tier"
                    },
                    {
                        "name": "PUT: Publish Tier",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "PUT: Publish Tier"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "Automation Status Entry",
                        "type": "text",
                        "label": "Automation Status Entry"
                    },
                    {
                        "name": "Product (from Vendor Product)",
                        "type": "array",
                        "label": "Product (from Vendor Product)"
                    },
                    {
                        "name": "TierID",
                        "type": "text",
                        "label": "TierID"
                    },
                    {
                        "name": "Vendor Sku (from Vendor Product)",
                        "type": "array",
                        "label": "Vendor Sku (from Vendor Product)"
                    },
                    {
                        "name": "vendorProductId",
                        "type": "array",
                        "label": "vendorProductId"
                    },
                    {
                        "name": "Cost",
                        "type": "number",
                        "label": "Cost"
                    },
                    {
                        "name": "Currency",
                        "type": "text",
                        "label": "Currency"
                    },
                    {
                        "name": "fromQuantity",
                        "type": "number",
                        "label": "fromQuantity"
                    },
                    {
                        "name": "toQuantity",
                        "type": "number",
                        "label": "toQuantity"
                    },
                    {
                        "name": "Created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "Last Modified",
                        "type": "date",
                        "label": "Last Modified"
                    }
                ]
            }
        },
        {
            "id": 18,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 450
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 16,
                            "module": "json:CreateJSON",
                            "version": 1,
                            "parameters": {
                                "type": 225763,
                                "space": ""
                            },
                            "filter": {
                                "name": "All Data Available",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{12.fromQuantity}}",
                                            "b": "",
                                            "o": "exist"
                                        },
                                        {
                                            "a": "{{12.toQuantity}}",
                                            "b": "",
                                            "o": "exist"
                                        },
                                        {
                                            "a": "{{12.Cost}}",
                                            "b": "",
                                            "o": "exist"
                                        },
                                        {
                                            "a": "{{12.Currency}}",
                                            "b": "",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "cost": {
                                    "amount": "{{12.Cost}}",
                                    "currency": "{{12.Currency}}"
                                },
                                "toQuantity": "{{12.toQuantity}}",
                                "fromQuantity": "{{12.fromQuantity}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "type": {
                                        "label": "PUT: Skubana Pricing Tier for Vendor SKU"
                                    },
                                    "space": {
                                        "label": ""
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "type",
                                        "type": "udt",
                                        "label": "Data structure",
                                        "required": true
                                    },
                                    {
                                        "name": "space",
                                        "type": "select",
                                        "label": "Indentation",
                                        "validate": {
                                            "enum": [
                                                "tab",
                                                "2",
                                                "4"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "cost",
                                        "spec": [
                                            {
                                                "name": "amount",
                                                "type": "number",
                                                "required": true
                                            },
                                            {
                                                "name": "currency",
                                                "type": "text",
                                                "required": true,
                                                "multiline": false
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "cost"
                                    },
                                    {
                                        "name": "fromQuantity",
                                        "type": "number",
                                        "required": true
                                    },
                                    {
                                        "name": "toQuantity",
                                        "type": "number",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 2,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": false,
                                "useNewZLibDeCompress": "true"
                            },
                            "mapper": {
                                "ca": "",
                                "qs": [],
                                "url": "{{3.skubana_api_slug}}/v1/vendors/products/{{12.vendorProductId[]}}/pricingtiers",
                                "data": "[{{16.json}}]",
                                "gzip": true,
                                "method": "put",
                                "headers": [
                                    {
                                        "name": "Authorization",
                                        "value": "Bearer {{3.skubana_access_token}}"
                                    }
                                ],
                                "timeout": "",
                                "useMtls": false,
                                "authPass": "",
                                "authUser": "",
                                "bodyType": "raw",
                                "contentType": "application/json",
                                "serializeUrl": false,
                                "shareCookies": false,
                                "parseResponse": true,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300,
                                    "name": "PUT: PricingTier for VendorSKU"
                                },
                                "restore": {
                                    "qs": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "method": {
                                        "mode": "chose",
                                        "label": "PUT"
                                    },
                                    "headers": {
                                        "mode": "chose",
                                        "items": [
                                            "undefined"
                                        ]
                                    },
                                    "bodyType": {
                                        "label": "Raw"
                                    },
                                    "contentType": {
                                        "label": "JSON (application/json)"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    },
                                    {
                                        "name": "useNewZLibDeCompress",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers",
                                        "labels": {
                                            "add": "Add a header",
                                            "edit": "Edit a header"
                                        }
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String",
                                        "labels": {
                                            "add": "Add parameter",
                                            "edit": "Edit parameter"
                                        }
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate",
                                        "multiline": true
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content type",
                                        "validate": {
                                            "enum": [
                                                "text/plain",
                                                "application/json",
                                                "application/xml",
                                                "text/xml",
                                                "text/html",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Request content"
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 20,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 300
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 7,
                                            "module": "airtable:upsertRecord",
                                            "version": 3,
                                            "parameters": {
                                                "__IMTCONN__": 3543976
                                            },
                                            "filter": {
                                                "name": "Status = 200: Tier Published",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{2.statusCode}}",
                                                            "b": "200",
                                                            "o": "number:equal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "base": "appYS5dIeZyo4f0cy",
                                                "table": "Vendor SKU Pricing",
                                                "record": {
                                                    "fld0lLml1tm1mdniu": "{{2.data.results[].cost.currency}}",
                                                    "fldEwCfN3rRNHFCXz": "{{2.data.results[].toQuantity}}",
                                                    "fldP3hMUK8lU91z0b": "{{2.data.results[].fromQuantity}}",
                                                    "fldTiKAuEcTB6s039": "{{2.data.results[].id}}",
                                                    "fldasf7VqY72fMsl5": "Tier Created: {{now}}",
                                                    "fldw7Wiy3fM0Irmqw": "{{2.data.results[].cost.amount}}"
                                                },
                                                "recordId": "{{9.recordID}}",
                                                "typecast": false,
                                                "useColumnId": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 0,
                                                    "name": "Update Tier: Populate Data"
                                                },
                                                "restore": {
                                                    "base": {
                                                        "label": "Skubana Environment"
                                                    },
                                                    "table": {
                                                        "label": "Vendor SKU Pricing"
                                                    },
                                                    "record": {
                                                        "nested": {
                                                            "fldaksJWbE6xySFoM": {
                                                                "mode": "chose",
                                                                "items": []
                                                            }
                                                        }
                                                    },
                                                    "typecast": {
                                                        "mode": "chose"
                                                    },
                                                    "__IMTCONN__": {
                                                        "label": "Nolk OS Airtable"
                                                    },
                                                    "useColumnId": {
                                                        "mode": "chose"
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "base",
                                                        "type": "select",
                                                        "label": "Base",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "typecast",
                                                        "type": "boolean",
                                                        "label": "Smart links",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useColumnId",
                                                        "type": "boolean",
                                                        "label": "Use Column ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "table",
                                                        "type": "select",
                                                        "label": "Table",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "recordId",
                                                        "type": "text",
                                                        "label": "Record ID"
                                                    },
                                                    {
                                                        "name": "record",
                                                        "spec": [
                                                            {
                                                                "name": "fldaksJWbE6xySFoM",
                                                                "spec": {
                                                                    "label": "Record ID"
                                                                },
                                                                "type": "array",
                                                                "label": "Vendor Product"
                                                            },
                                                            {
                                                                "name": "fldasf7VqY72fMsl5",
                                                                "type": "text",
                                                                "label": "Automation Status Entry"
                                                            },
                                                            {
                                                                "name": "fldTiKAuEcTB6s039",
                                                                "type": "text",
                                                                "label": "TierID"
                                                            },
                                                            {
                                                                "name": "fldw7Wiy3fM0Irmqw",
                                                                "type": "number",
                                                                "label": "Cost"
                                                            },
                                                            {
                                                                "name": "fld0lLml1tm1mdniu",
                                                                "type": "text",
                                                                "label": "Currency"
                                                            },
                                                            {
                                                                "name": "fldP3hMUK8lU91z0b",
                                                                "type": "number",
                                                                "label": "fromQuantity"
                                                            },
                                                            {
                                                                "name": "fldEwCfN3rRNHFCXz",
                                                                "type": "number",
                                                                "label": "toQuantity"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Record"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "createdTime",
                                                        "type": "date",
                                                        "label": "Created Time"
                                                    },
                                                    {
                                                        "name": "Tier",
                                                        "type": "text",
                                                        "label": "Tier"
                                                    },
                                                    {
                                                        "name": "Vendor Product",
                                                        "spec": {
                                                            "label": "Record ID"
                                                        },
                                                        "type": "array",
                                                        "label": "Vendor Product"
                                                    },
                                                    {
                                                        "name": "DEL: Pricing Tier",
                                                        "spec": [
                                                            {
                                                                "name": "label",
                                                                "type": "text",
                                                                "label": "Label"
                                                            },
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "DEL: Pricing Tier"
                                                    },
                                                    {
                                                        "name": "PUT: Publish Tier",
                                                        "spec": [
                                                            {
                                                                "name": "label",
                                                                "type": "text",
                                                                "label": "Label"
                                                            },
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "PUT: Publish Tier"
                                                    },
                                                    {
                                                        "name": "Status",
                                                        "type": "text",
                                                        "label": "Status"
                                                    },
                                                    {
                                                        "name": "Automation Status Entry",
                                                        "type": "text",
                                                        "label": "Automation Status Entry"
                                                    },
                                                    {
                                                        "name": "Product (from Vendor Product)",
                                                        "type": "array",
                                                        "label": "Product (from Vendor Product)"
                                                    },
                                                    {
                                                        "name": "TierID",
                                                        "type": "text",
                                                        "label": "TierID"
                                                    },
                                                    {
                                                        "name": "Vendor Sku (from Vendor Product)",
                                                        "type": "array",
                                                        "label": "Vendor Sku (from Vendor Product)"
                                                    },
                                                    {
                                                        "name": "vendorProductId",
                                                        "type": "array",
                                                        "label": "vendorProductId"
                                                    },
                                                    {
                                                        "name": "Cost",
                                                        "type": "number",
                                                        "label": "Cost"
                                                    },
                                                    {
                                                        "name": "Currency",
                                                        "type": "text",
                                                        "label": "Currency"
                                                    },
                                                    {
                                                        "name": "fromQuantity",
                                                        "type": "number",
                                                        "label": "fromQuantity"
                                                    },
                                                    {
                                                        "name": "toQuantity",
                                                        "type": "number",
                                                        "label": "toQuantity"
                                                    },
                                                    {
                                                        "name": "Created",
                                                        "type": "date",
                                                        "label": "Created"
                                                    },
                                                    {
                                                        "name": "Last Modified",
                                                        "type": "date",
                                                        "label": "Last Modified"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 21,
                                            "module": "airtable:upsertRecord",
                                            "version": 3,
                                            "parameters": {
                                                "__IMTCONN__": 3543976
                                            },
                                            "filter": {
                                                "name": "Status NOT = 200",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{2.statusCode}}",
                                                            "b": "200",
                                                            "o": "number:notequal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "base": "appYS5dIeZyo4f0cy",
                                                "table": "Vendor SKU Pricing",
                                                "record": {
                                                    "fldasf7VqY72fMsl5": "{{2.data.error}}"
                                                },
                                                "recordId": "{{9.recordID}}",
                                                "typecast": false,
                                                "useColumnId": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 450,
                                                    "name": "Update Tier: Error Messages from API"
                                                },
                                                "restore": {
                                                    "base": {
                                                        "label": "Skubana Environment"
                                                    },
                                                    "table": {
                                                        "label": "Vendor SKU Pricing"
                                                    },
                                                    "record": {
                                                        "nested": {
                                                            "fldaksJWbE6xySFoM": {
                                                                "mode": "chose",
                                                                "items": []
                                                            }
                                                        }
                                                    },
                                                    "typecast": {
                                                        "mode": "chose"
                                                    },
                                                    "__IMTCONN__": {
                                                        "label": "Nolk OS Airtable"
                                                    },
                                                    "useColumnId": {
                                                        "mode": "chose"
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "base",
                                                        "type": "select",
                                                        "label": "Base",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "typecast",
                                                        "type": "boolean",
                                                        "label": "Smart links",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useColumnId",
                                                        "type": "boolean",
                                                        "label": "Use Column ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "table",
                                                        "type": "select",
                                                        "label": "Table",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "recordId",
                                                        "type": "text",
                                                        "label": "Record ID"
                                                    },
                                                    {
                                                        "name": "record",
                                                        "spec": [
                                                            {
                                                                "name": "fldaksJWbE6xySFoM",
                                                                "spec": {
                                                                    "label": "Record ID"
                                                                },
                                                                "type": "array",
                                                                "label": "Vendor Product"
                                                            },
                                                            {
                                                                "name": "fldasf7VqY72fMsl5",
                                                                "type": "text",
                                                                "label": "Automation Status Entry"
                                                            },
                                                            {
                                                                "name": "fldTiKAuEcTB6s039",
                                                                "type": "text",
                                                                "label": "TierID"
                                                            },
                                                            {
                                                                "name": "fldw7Wiy3fM0Irmqw",
                                                                "type": "number",
                                                                "label": "Cost"
                                                            },
                                                            {
                                                                "name": "fld0lLml1tm1mdniu",
                                                                "type": "text",
                                                                "label": "Currency"
                                                            },
                                                            {
                                                                "name": "fldP3hMUK8lU91z0b",
                                                                "type": "number",
                                                                "label": "fromQuantity"
                                                            },
                                                            {
                                                                "name": "fldEwCfN3rRNHFCXz",
                                                                "type": "number",
                                                                "label": "toQuantity"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Record"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "createdTime",
                                                        "type": "date",
                                                        "label": "Created Time"
                                                    },
                                                    {
                                                        "name": "Tier",
                                                        "type": "text",
                                                        "label": "Tier"
                                                    },
                                                    {
                                                        "name": "Vendor Product",
                                                        "spec": {
                                                            "label": "Record ID"
                                                        },
                                                        "type": "array",
                                                        "label": "Vendor Product"
                                                    },
                                                    {
                                                        "name": "DEL: Pricing Tier",
                                                        "spec": [
                                                            {
                                                                "name": "label",
                                                                "type": "text",
                                                                "label": "Label"
                                                            },
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "DEL: Pricing Tier"
                                                    },
                                                    {
                                                        "name": "PUT: Publish Tier",
                                                        "spec": [
                                                            {
                                                                "name": "label",
                                                                "type": "text",
                                                                "label": "Label"
                                                            },
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "PUT: Publish Tier"
                                                    },
                                                    {
                                                        "name": "Status",
                                                        "type": "text",
                                                        "label": "Status"
                                                    },
                                                    {
                                                        "name": "Automation Status Entry",
                                                        "type": "text",
                                                        "label": "Automation Status Entry"
                                                    },
                                                    {
                                                        "name": "Product (from Vendor Product)",
                                                        "type": "array",
                                                        "label": "Product (from Vendor Product)"
                                                    },
                                                    {
                                                        "name": "TierID",
                                                        "type": "text",
                                                        "label": "TierID"
                                                    },
                                                    {
                                                        "name": "Vendor Sku (from Vendor Product)",
                                                        "type": "array",
                                                        "label": "Vendor Sku (from Vendor Product)"
                                                    },
                                                    {
                                                        "name": "vendorProductId",
                                                        "type": "array",
                                                        "label": "vendorProductId"
                                                    },
                                                    {
                                                        "name": "Cost",
                                                        "type": "number",
                                                        "label": "Cost"
                                                    },
                                                    {
                                                        "name": "Currency",
                                                        "type": "text",
                                                        "label": "Currency"
                                                    },
                                                    {
                                                        "name": "fromQuantity",
                                                        "type": "number",
                                                        "label": "fromQuantity"
                                                    },
                                                    {
                                                        "name": "toQuantity",
                                                        "type": "number",
                                                        "label": "toQuantity"
                                                    },
                                                    {
                                                        "name": "Created",
                                                        "type": "date",
                                                        "label": "Created"
                                                    },
                                                    {
                                                        "name": "Last Modified",
                                                        "type": "date",
                                                        "label": "Last Modified"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 23,
                                            "module": "http:ActionSendData",
                                            "version": 3,
                                            "parameters": {
                                                "handleErrors": false,
                                                "useNewZLibDeCompress": "true"
                                            },
                                            "mapper": {
                                                "ca": "",
                                                "qs": [],
                                                "url": "{{3.skubana_api_slug}}/v1/vendors/products/{{12.vendorProductId[]}}/pricingtiers",
                                                "gzip": true,
                                                "method": "get",
                                                "headers": [
                                                    {
                                                        "name": "Authorization",
                                                        "value": "Bearer {{3.skubana_access_token}}"
                                                    }
                                                ],
                                                "timeout": "",
                                                "useMtls": false,
                                                "authPass": "",
                                                "authUser": "",
                                                "bodyType": "",
                                                "serializeUrl": false,
                                                "shareCookies": false,
                                                "parseResponse": true,
                                                "followRedirect": true,
                                                "useQuerystring": false,
                                                "followAllRedirects": false,
                                                "rejectUnauthorized": true
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2400,
                                                    "y": 450,
                                                    "name": "GET: Pricing Tiers"
                                                },
                                                "restore": {
                                                    "qs": {
                                                        "mode": "chose",
                                                        "items": []
                                                    },
                                                    "method": {
                                                        "mode": "chose",
                                                        "label": "GET"
                                                    },
                                                    "headers": {
                                                        "mode": "chose",
                                                        "items": [
                                                            "undefined"
                                                        ]
                                                    },
                                                    "bodyType": {
                                                        "label": ""
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "handleErrors",
                                                        "type": "boolean",
                                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useNewZLibDeCompress",
                                                        "type": "hidden"
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "serializeUrl",
                                                        "type": "boolean",
                                                        "label": "Serialize URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "method",
                                                        "type": "select",
                                                        "label": "Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "get",
                                                                "head",
                                                                "post",
                                                                "put",
                                                                "patch",
                                                                "delete",
                                                                "options"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Headers",
                                                        "labels": {
                                                            "add": "Add a header",
                                                            "edit": "Edit a header"
                                                        }
                                                    },
                                                    {
                                                        "name": "qs",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Query String",
                                                        "labels": {
                                                            "add": "Add parameter",
                                                            "edit": "Edit parameter"
                                                        }
                                                    },
                                                    {
                                                        "name": "bodyType",
                                                        "type": "select",
                                                        "label": "Body type",
                                                        "validate": {
                                                            "enum": [
                                                                "raw",
                                                                "x_www_form_urlencoded",
                                                                "multipart_form_data"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "parseResponse",
                                                        "type": "boolean",
                                                        "label": "Parse response",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "authUser",
                                                        "type": "text",
                                                        "label": "User name"
                                                    },
                                                    {
                                                        "name": "authPass",
                                                        "type": "password",
                                                        "label": "Password"
                                                    },
                                                    {
                                                        "name": "timeout",
                                                        "type": "uinteger",
                                                        "label": "Timeout",
                                                        "validate": {
                                                            "max": 300,
                                                            "min": 1
                                                        }
                                                    },
                                                    {
                                                        "name": "shareCookies",
                                                        "type": "boolean",
                                                        "label": "Share cookies with other HTTP modules",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "ca",
                                                        "type": "cert",
                                                        "label": "Self-signed certificate",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "rejectUnauthorized",
                                                        "type": "boolean",
                                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "followRedirect",
                                                        "type": "boolean",
                                                        "label": "Follow redirect",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useQuerystring",
                                                        "type": "boolean",
                                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "gzip",
                                                        "type": "boolean",
                                                        "label": "Request compressed content",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useMtls",
                                                        "type": "boolean",
                                                        "label": "Use Mutual TLS",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "followAllRedirects",
                                                        "type": "boolean",
                                                        "label": "Follow all redirect",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 24,
                                            "module": "builtin:BasicFeeder",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "array": "{{23.data}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 450
                                                },
                                                "restore": {
                                                    "array": {
                                                        "mode": "edit"
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "mode": "edit",
                                                        "name": "array",
                                                        "spec": [],
                                                        "type": "array",
                                                        "label": "Array"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 25,
                                            "module": "http:ActionSendData",
                                            "version": 3,
                                            "parameters": {
                                                "handleErrors": false,
                                                "useNewZLibDeCompress": "true"
                                            },
                                            "filter": {
                                                "name": "Tiers Overlap?",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{12.fromQuantity}}",
                                                            "b": "{{24.fromQuantity}}",
                                                            "o": "number:lessorequal"
                                                        },
                                                        {
                                                            "a": "{{12.toQuantity}}",
                                                            "b": "{{24.toQuantity}}",
                                                            "o": "number:greaterorequal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "ca": "",
                                                "qs": [
                                                    {
                                                        "name": "pricingTierId",
                                                        "value": "{{24.id}}"
                                                    }
                                                ],
                                                "url": "{{3.skubana_api_slug}}/v1/vendors/products/{{12.vendorProductId[]}}/pricingtiers",
                                                "gzip": true,
                                                "method": "delete",
                                                "headers": [
                                                    {
                                                        "name": "Authorization",
                                                        "value": "Bearer {{3.skubana_access_token}}"
                                                    }
                                                ],
                                                "timeout": "",
                                                "useMtls": false,
                                                "authPass": "",
                                                "authUser": "",
                                                "bodyType": "",
                                                "serializeUrl": false,
                                                "shareCookies": false,
                                                "parseResponse": true,
                                                "followRedirect": true,
                                                "useQuerystring": false,
                                                "followAllRedirects": false,
                                                "rejectUnauthorized": true
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3000,
                                                    "y": 450,
                                                    "name": "DEL: Matching Tier"
                                                },
                                                "restore": {
                                                    "qs": {
                                                        "mode": "chose",
                                                        "items": [
                                                            "undefined"
                                                        ]
                                                    },
                                                    "method": {
                                                        "mode": "chose",
                                                        "label": "DELETE"
                                                    },
                                                    "headers": {
                                                        "mode": "chose",
                                                        "items": [
                                                            "undefined"
                                                        ]
                                                    },
                                                    "bodyType": {
                                                        "label": ""
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "handleErrors",
                                                        "type": "boolean",
                                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useNewZLibDeCompress",
                                                        "type": "hidden"
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "serializeUrl",
                                                        "type": "boolean",
                                                        "label": "Serialize URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "method",
                                                        "type": "select",
                                                        "label": "Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "get",
                                                                "head",
                                                                "post",
                                                                "put",
                                                                "patch",
                                                                "delete",
                                                                "options"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Headers",
                                                        "labels": {
                                                            "add": "Add a header",
                                                            "edit": "Edit a header"
                                                        }
                                                    },
                                                    {
                                                        "name": "qs",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Query String",
                                                        "labels": {
                                                            "add": "Add parameter",
                                                            "edit": "Edit parameter"
                                                        }
                                                    },
                                                    {
                                                        "name": "bodyType",
                                                        "type": "select",
                                                        "label": "Body type",
                                                        "validate": {
                                                            "enum": [
                                                                "raw",
                                                                "x_www_form_urlencoded",
                                                                "multipart_form_data"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "parseResponse",
                                                        "type": "boolean",
                                                        "label": "Parse response",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "authUser",
                                                        "type": "text",
                                                        "label": "User name"
                                                    },
                                                    {
                                                        "name": "authPass",
                                                        "type": "password",
                                                        "label": "Password"
                                                    },
                                                    {
                                                        "name": "timeout",
                                                        "type": "uinteger",
                                                        "label": "Timeout",
                                                        "validate": {
                                                            "max": 300,
                                                            "min": 1
                                                        }
                                                    },
                                                    {
                                                        "name": "shareCookies",
                                                        "type": "boolean",
                                                        "label": "Share cookies with other HTTP modules",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "ca",
                                                        "type": "cert",
                                                        "label": "Self-signed certificate",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "rejectUnauthorized",
                                                        "type": "boolean",
                                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "followRedirect",
                                                        "type": "boolean",
                                                        "label": "Follow redirect",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useQuerystring",
                                                        "type": "boolean",
                                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "gzip",
                                                        "type": "boolean",
                                                        "label": "Request compressed content",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useMtls",
                                                        "type": "boolean",
                                                        "label": "Use Mutual TLS",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "followAllRedirects",
                                                        "type": "boolean",
                                                        "label": "Follow all redirect",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 26,
                                            "module": "util:FunctionSleep",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "duration": "2"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3300,
                                                    "y": 450
                                                },
                                                "expect": [
                                                    {
                                                        "name": "duration",
                                                        "type": "uinteger",
                                                        "label": "Delay",
                                                        "required": true,
                                                        "validate": {
                                                            "max": 300,
                                                            "min": 1
                                                        }
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 27,
                                            "module": "http:ActionSendData",
                                            "version": 3,
                                            "parameters": {
                                                "handleErrors": false,
                                                "useNewZLibDeCompress": "true"
                                            },
                                            "mapper": {
                                                "ca": "",
                                                "qs": [],
                                                "url": "{{3.skubana_api_slug}}/v1/vendors/products/{{12.vendorProductId[]}}/pricingtiers",
                                                "data": "[{{16.json}}]",
                                                "gzip": true,
                                                "method": "put",
                                                "headers": [
                                                    {
                                                        "name": "Authorization",
                                                        "value": "Bearer {{3.skubana_access_token}}"
                                                    }
                                                ],
                                                "timeout": "",
                                                "useMtls": false,
                                                "authPass": "",
                                                "authUser": "",
                                                "bodyType": "raw",
                                                "contentType": "application/json",
                                                "serializeUrl": false,
                                                "shareCookies": false,
                                                "parseResponse": true,
                                                "followRedirect": true,
                                                "useQuerystring": false,
                                                "followAllRedirects": false,
                                                "rejectUnauthorized": true
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3600,
                                                    "y": 450,
                                                    "name": "PUT: PricingTier for VendorSKU"
                                                },
                                                "restore": {
                                                    "qs": {
                                                        "mode": "chose",
                                                        "items": []
                                                    },
                                                    "method": {
                                                        "mode": "chose",
                                                        "label": "PUT"
                                                    },
                                                    "headers": {
                                                        "mode": "chose",
                                                        "items": [
                                                            "undefined"
                                                        ]
                                                    },
                                                    "bodyType": {
                                                        "label": "Raw"
                                                    },
                                                    "contentType": {
                                                        "label": "JSON (application/json)"
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "handleErrors",
                                                        "type": "boolean",
                                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useNewZLibDeCompress",
                                                        "type": "hidden"
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "serializeUrl",
                                                        "type": "boolean",
                                                        "label": "Serialize URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "method",
                                                        "type": "select",
                                                        "label": "Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "get",
                                                                "head",
                                                                "post",
                                                                "put",
                                                                "patch",
                                                                "delete",
                                                                "options"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Headers",
                                                        "labels": {
                                                            "add": "Add a header",
                                                            "edit": "Edit a header"
                                                        }
                                                    },
                                                    {
                                                        "name": "qs",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Query String",
                                                        "labels": {
                                                            "add": "Add parameter",
                                                            "edit": "Edit parameter"
                                                        }
                                                    },
                                                    {
                                                        "name": "bodyType",
                                                        "type": "select",
                                                        "label": "Body type",
                                                        "validate": {
                                                            "enum": [
                                                                "raw",
                                                                "x_www_form_urlencoded",
                                                                "multipart_form_data"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "parseResponse",
                                                        "type": "boolean",
                                                        "label": "Parse response",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "authUser",
                                                        "type": "text",
                                                        "label": "User name"
                                                    },
                                                    {
                                                        "name": "authPass",
                                                        "type": "password",
                                                        "label": "Password"
                                                    },
                                                    {
                                                        "name": "timeout",
                                                        "type": "uinteger",
                                                        "label": "Timeout",
                                                        "validate": {
                                                            "max": 300,
                                                            "min": 1
                                                        }
                                                    },
                                                    {
                                                        "name": "shareCookies",
                                                        "type": "boolean",
                                                        "label": "Share cookies with other HTTP modules",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "ca",
                                                        "type": "cert",
                                                        "label": "Self-signed certificate",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "rejectUnauthorized",
                                                        "type": "boolean",
                                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "followRedirect",
                                                        "type": "boolean",
                                                        "label": "Follow redirect",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useQuerystring",
                                                        "type": "boolean",
                                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "gzip",
                                                        "type": "boolean",
                                                        "label": "Request compressed content",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useMtls",
                                                        "type": "boolean",
                                                        "label": "Use Mutual TLS",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "contentType",
                                                        "type": "select",
                                                        "label": "Content type",
                                                        "validate": {
                                                            "enum": [
                                                                "text/plain",
                                                                "application/json",
                                                                "application/xml",
                                                                "text/xml",
                                                                "text/html",
                                                                "custom"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "data",
                                                        "type": "buffer",
                                                        "label": "Request content"
                                                    },
                                                    {
                                                        "name": "followAllRedirects",
                                                        "type": "boolean",
                                                        "label": "Follow all redirect",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 29,
                                            "module": "builtin:BasicRouter",
                                            "version": 1,
                                            "mapper": null,
                                            "metadata": {
                                                "designer": {
                                                    "x": 3900,
                                                    "y": 450
                                                }
                                            },
                                            "routes": [
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 32,
                                                            "module": "airtable:upsertRecord",
                                                            "version": 3,
                                                            "parameters": {
                                                                "__IMTCONN__": 3543976
                                                            },
                                                            "filter": {
                                                                "name": "Status = 200",
                                                                "conditions": [
                                                                    [
                                                                        {
                                                                            "a": "{{27.statusCode}}",
                                                                            "b": "200",
                                                                            "o": "text:equal"
                                                                        }
                                                                    ]
                                                                ]
                                                            },
                                                            "mapper": {
                                                                "base": "appYS5dIeZyo4f0cy",
                                                                "table": "Vendor SKU Pricing",
                                                                "record": {
                                                                    "fld0lLml1tm1mdniu": "{{27.data.results[].cost.currency}}",
                                                                    "fldEwCfN3rRNHFCXz": "{{27.data.results[].toQuantity}}",
                                                                    "fldP3hMUK8lU91z0b": "{{27.data.results[].fromQuantity}}",
                                                                    "fldTiKAuEcTB6s039": "{{27.data.results[].id}}",
                                                                    "fldasf7VqY72fMsl5": "Tier Created: {{now}}",
                                                                    "fldw7Wiy3fM0Irmqw": "{{27.data.results[].cost.amount}}"
                                                                },
                                                                "recordId": "{{9.recordID}}",
                                                                "typecast": false,
                                                                "useColumnId": false
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 4200,
                                                                    "y": 300,
                                                                    "name": "Update Tier: Populate Data"
                                                                },
                                                                "restore": {
                                                                    "base": {
                                                                        "label": "Skubana Environment"
                                                                    },
                                                                    "table": {
                                                                        "label": "Vendor SKU Pricing"
                                                                    },
                                                                    "record": {
                                                                        "nested": {
                                                                            "fldaksJWbE6xySFoM": {
                                                                                "mode": "chose",
                                                                                "items": []
                                                                            }
                                                                        }
                                                                    },
                                                                    "typecast": {
                                                                        "mode": "chose"
                                                                    },
                                                                    "__IMTCONN__": {
                                                                        "label": "Nolk OS Airtable"
                                                                    },
                                                                    "useColumnId": {
                                                                        "mode": "chose"
                                                                    }
                                                                },
                                                                "parameters": [
                                                                    {
                                                                        "name": "__IMTCONN__",
                                                                        "type": "account",
                                                                        "label": "Connection",
                                                                        "required": true
                                                                    }
                                                                ],
                                                                "expect": [
                                                                    {
                                                                        "name": "base",
                                                                        "type": "select",
                                                                        "label": "Base",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "typecast",
                                                                        "type": "boolean",
                                                                        "label": "Smart links",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "useColumnId",
                                                                        "type": "boolean",
                                                                        "label": "Use Column ID",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "table",
                                                                        "type": "select",
                                                                        "label": "Table",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "recordId",
                                                                        "type": "text",
                                                                        "label": "Record ID"
                                                                    },
                                                                    {
                                                                        "name": "record",
                                                                        "spec": [
                                                                            {
                                                                                "name": "fldaksJWbE6xySFoM",
                                                                                "spec": {
                                                                                    "label": "Record ID"
                                                                                },
                                                                                "type": "array",
                                                                                "label": "Vendor Product"
                                                                            },
                                                                            {
                                                                                "name": "fldasf7VqY72fMsl5",
                                                                                "type": "text",
                                                                                "label": "Automation Status Entry"
                                                                            },
                                                                            {
                                                                                "name": "fldTiKAuEcTB6s039",
                                                                                "type": "text",
                                                                                "label": "TierID"
                                                                            },
                                                                            {
                                                                                "name": "fldw7Wiy3fM0Irmqw",
                                                                                "type": "number",
                                                                                "label": "Cost"
                                                                            },
                                                                            {
                                                                                "name": "fld0lLml1tm1mdniu",
                                                                                "type": "text",
                                                                                "label": "Currency"
                                                                            },
                                                                            {
                                                                                "name": "fldP3hMUK8lU91z0b",
                                                                                "type": "number",
                                                                                "label": "fromQuantity"
                                                                            },
                                                                            {
                                                                                "name": "fldEwCfN3rRNHFCXz",
                                                                                "type": "number",
                                                                                "label": "toQuantity"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Record"
                                                                    }
                                                                ],
                                                                "interface": [
                                                                    {
                                                                        "name": "id",
                                                                        "type": "text",
                                                                        "label": "ID"
                                                                    },
                                                                    {
                                                                        "name": "createdTime",
                                                                        "type": "date",
                                                                        "label": "Created Time"
                                                                    },
                                                                    {
                                                                        "name": "Tier",
                                                                        "type": "text",
                                                                        "label": "Tier"
                                                                    },
                                                                    {
                                                                        "name": "Vendor Product",
                                                                        "spec": {
                                                                            "label": "Record ID"
                                                                        },
                                                                        "type": "array",
                                                                        "label": "Vendor Product"
                                                                    },
                                                                    {
                                                                        "name": "Status",
                                                                        "type": "text",
                                                                        "label": "Status"
                                                                    },
                                                                    {
                                                                        "name": "DEL: Pricing Tier",
                                                                        "spec": [
                                                                            {
                                                                                "name": "label",
                                                                                "type": "text",
                                                                                "label": "Label"
                                                                            },
                                                                            {
                                                                                "name": "url",
                                                                                "type": "url",
                                                                                "label": "URL"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "DEL: Pricing Tier"
                                                                    },
                                                                    {
                                                                        "name": "PUT: Publish Tier",
                                                                        "spec": [
                                                                            {
                                                                                "name": "label",
                                                                                "type": "text",
                                                                                "label": "Label"
                                                                            },
                                                                            {
                                                                                "name": "url",
                                                                                "type": "url",
                                                                                "label": "URL"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "PUT: Publish Tier"
                                                                    },
                                                                    {
                                                                        "name": "Automation Status Entry",
                                                                        "type": "text",
                                                                        "label": "Automation Status Entry"
                                                                    },
                                                                    {
                                                                        "name": "Product (from Vendor Product)",
                                                                        "type": "array",
                                                                        "label": "Product (from Vendor Product)"
                                                                    },
                                                                    {
                                                                        "name": "TierID",
                                                                        "type": "text",
                                                                        "label": "TierID"
                                                                    },
                                                                    {
                                                                        "name": "Vendor Sku (from Vendor Product)",
                                                                        "type": "array",
                                                                        "label": "Vendor Sku (from Vendor Product)"
                                                                    },
                                                                    {
                                                                        "name": "vendorProductId",
                                                                        "type": "array",
                                                                        "label": "vendorProductId"
                                                                    },
                                                                    {
                                                                        "name": "Cost",
                                                                        "type": "number",
                                                                        "label": "Cost"
                                                                    },
                                                                    {
                                                                        "name": "Currency",
                                                                        "type": "text",
                                                                        "label": "Currency"
                                                                    },
                                                                    {
                                                                        "name": "fromQuantity",
                                                                        "type": "number",
                                                                        "label": "fromQuantity"
                                                                    },
                                                                    {
                                                                        "name": "toQuantity",
                                                                        "type": "number",
                                                                        "label": "toQuantity"
                                                                    },
                                                                    {
                                                                        "name": "Created",
                                                                        "type": "date",
                                                                        "label": "Created"
                                                                    },
                                                                    {
                                                                        "name": "Last Modified",
                                                                        "type": "date",
                                                                        "label": "Last Modified"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 31,
                                                            "module": "airtable:upsertRecord",
                                                            "version": 3,
                                                            "parameters": {
                                                                "__IMTCONN__": 3543976
                                                            },
                                                            "filter": {
                                                                "name": "Status NOT = 200",
                                                                "conditions": [
                                                                    [
                                                                        {
                                                                            "a": "{{27.statusCode}}",
                                                                            "b": "200",
                                                                            "o": "text:notequal"
                                                                        }
                                                                    ]
                                                                ]
                                                            },
                                                            "mapper": {
                                                                "base": "appYS5dIeZyo4f0cy",
                                                                "table": "Vendor SKU Pricing",
                                                                "record": {
                                                                    "fldasf7VqY72fMsl5": "{{27.data.message}}"
                                                                },
                                                                "recordId": "{{9.recordID}}",
                                                                "typecast": false,
                                                                "useColumnId": false
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 4200,
                                                                    "y": 600,
                                                                    "name": "Update Tier: Error Messages from API"
                                                                },
                                                                "restore": {
                                                                    "base": {
                                                                        "label": "Skubana Environment"
                                                                    },
                                                                    "table": {
                                                                        "label": "Vendor SKU Pricing"
                                                                    },
                                                                    "record": {
                                                                        "nested": {
                                                                            "fldaksJWbE6xySFoM": {
                                                                                "mode": "chose",
                                                                                "items": []
                                                                            }
                                                                        }
                                                                    },
                                                                    "typecast": {
                                                                        "mode": "chose"
                                                                    },
                                                                    "__IMTCONN__": {
                                                                        "label": "Nolk OS Airtable"
                                                                    },
                                                                    "useColumnId": {
                                                                        "mode": "chose"
                                                                    }
                                                                },
                                                                "parameters": [
                                                                    {
                                                                        "name": "__IMTCONN__",
                                                                        "type": "account",
                                                                        "label": "Connection",
                                                                        "required": true
                                                                    }
                                                                ],
                                                                "expect": [
                                                                    {
                                                                        "name": "base",
                                                                        "type": "select",
                                                                        "label": "Base",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "typecast",
                                                                        "type": "boolean",
                                                                        "label": "Smart links",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "useColumnId",
                                                                        "type": "boolean",
                                                                        "label": "Use Column ID",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "table",
                                                                        "type": "select",
                                                                        "label": "Table",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "recordId",
                                                                        "type": "text",
                                                                        "label": "Record ID"
                                                                    },
                                                                    {
                                                                        "name": "record",
                                                                        "spec": [
                                                                            {
                                                                                "name": "fldaksJWbE6xySFoM",
                                                                                "spec": {
                                                                                    "label": "Record ID"
                                                                                },
                                                                                "type": "array",
                                                                                "label": "Vendor Product"
                                                                            },
                                                                            {
                                                                                "name": "fldasf7VqY72fMsl5",
                                                                                "type": "text",
                                                                                "label": "Automation Status Entry"
                                                                            },
                                                                            {
                                                                                "name": "fldTiKAuEcTB6s039",
                                                                                "type": "text",
                                                                                "label": "TierID"
                                                                            },
                                                                            {
                                                                                "name": "fldw7Wiy3fM0Irmqw",
                                                                                "type": "number",
                                                                                "label": "Cost"
                                                                            },
                                                                            {
                                                                                "name": "fld0lLml1tm1mdniu",
                                                                                "type": "text",
                                                                                "label": "Currency"
                                                                            },
                                                                            {
                                                                                "name": "fldP3hMUK8lU91z0b",
                                                                                "type": "number",
                                                                                "label": "fromQuantity"
                                                                            },
                                                                            {
                                                                                "name": "fldEwCfN3rRNHFCXz",
                                                                                "type": "number",
                                                                                "label": "toQuantity"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Record"
                                                                    }
                                                                ],
                                                                "interface": [
                                                                    {
                                                                        "name": "id",
                                                                        "type": "text",
                                                                        "label": "ID"
                                                                    },
                                                                    {
                                                                        "name": "createdTime",
                                                                        "type": "date",
                                                                        "label": "Created Time"
                                                                    },
                                                                    {
                                                                        "name": "Tier",
                                                                        "type": "text",
                                                                        "label": "Tier"
                                                                    },
                                                                    {
                                                                        "name": "Vendor Product",
                                                                        "spec": {
                                                                            "label": "Record ID"
                                                                        },
                                                                        "type": "array",
                                                                        "label": "Vendor Product"
                                                                    },
                                                                    {
                                                                        "name": "Status",
                                                                        "type": "text",
                                                                        "label": "Status"
                                                                    },
                                                                    {
                                                                        "name": "DEL: Pricing Tier",
                                                                        "spec": [
                                                                            {
                                                                                "name": "label",
                                                                                "type": "text",
                                                                                "label": "Label"
                                                                            },
                                                                            {
                                                                                "name": "url",
                                                                                "type": "url",
                                                                                "label": "URL"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "DEL: Pricing Tier"
                                                                    },
                                                                    {
                                                                        "name": "PUT: Publish Tier",
                                                                        "spec": [
                                                                            {
                                                                                "name": "label",
                                                                                "type": "text",
                                                                                "label": "Label"
                                                                            },
                                                                            {
                                                                                "name": "url",
                                                                                "type": "url",
                                                                                "label": "URL"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "PUT: Publish Tier"
                                                                    },
                                                                    {
                                                                        "name": "Automation Status Entry",
                                                                        "type": "text",
                                                                        "label": "Automation Status Entry"
                                                                    },
                                                                    {
                                                                        "name": "Product (from Vendor Product)",
                                                                        "type": "array",
                                                                        "label": "Product (from Vendor Product)"
                                                                    },
                                                                    {
                                                                        "name": "TierID",
                                                                        "type": "text",
                                                                        "label": "TierID"
                                                                    },
                                                                    {
                                                                        "name": "Vendor Sku (from Vendor Product)",
                                                                        "type": "array",
                                                                        "label": "Vendor Sku (from Vendor Product)"
                                                                    },
                                                                    {
                                                                        "name": "vendorProductId",
                                                                        "type": "array",
                                                                        "label": "vendorProductId"
                                                                    },
                                                                    {
                                                                        "name": "Cost",
                                                                        "type": "number",
                                                                        "label": "Cost"
                                                                    },
                                                                    {
                                                                        "name": "Currency",
                                                                        "type": "text",
                                                                        "label": "Currency"
                                                                    },
                                                                    {
                                                                        "name": "fromQuantity",
                                                                        "type": "number",
                                                                        "label": "fromQuantity"
                                                                    },
                                                                    {
                                                                        "name": "toQuantity",
                                                                        "type": "number",
                                                                        "label": "toQuantity"
                                                                    },
                                                                    {
                                                                        "name": "Created",
                                                                        "type": "date",
                                                                        "label": "Created"
                                                                    },
                                                                    {
                                                                        "name": "Last Modified",
                                                                        "type": "date",
                                                                        "label": "Last Modified"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 19,
                            "module": "airtable:upsertRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 3543976
                            },
                            "filter": {
                                "name": "Missing any Data?",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{12.Cost}}",
                                            "b": "",
                                            "o": "notexist"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{12.Currency}}",
                                            "b": "",
                                            "o": "notexist"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{12.toQuantity}}",
                                            "b": "",
                                            "o": "notexist"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{12.fromQuantity}}",
                                            "b": "",
                                            "o": "notexist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "base": "appYS5dIeZyo4f0cy",
                                "table": "Vendor SKU Pricing",
                                "record": {
                                    "fldasf7VqY72fMsl5": " Can't Publish: Tier Incomplete"
                                },
                                "recordId": "{{9.recordID}}",
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 900,
                                    "name": "Update Tier: Can't Publish"
                                },
                                "restore": {
                                    "base": {
                                        "label": "Skubana Environment"
                                    },
                                    "table": {
                                        "label": "Vendor SKU Pricing"
                                    },
                                    "record": {
                                        "nested": {
                                            "fldaksJWbE6xySFoM": {
                                                "mode": "chose",
                                                "items": []
                                            }
                                        }
                                    },
                                    "typecast": {
                                        "mode": "chose"
                                    },
                                    "__IMTCONN__": {
                                        "label": "Nolk OS Airtable"
                                    },
                                    "useColumnId": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "recordId",
                                        "type": "text",
                                        "label": "Record ID"
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldaksJWbE6xySFoM",
                                                "spec": {
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Vendor Product"
                                            },
                                            {
                                                "name": "fldasf7VqY72fMsl5",
                                                "type": "text",
                                                "label": "Automation Status Entry"
                                            },
                                            {
                                                "name": "fldTiKAuEcTB6s039",
                                                "type": "text",
                                                "label": "TierID"
                                            },
                                            {
                                                "name": "fldw7Wiy3fM0Irmqw",
                                                "type": "number",
                                                "label": "Cost"
                                            },
                                            {
                                                "name": "fld0lLml1tm1mdniu",
                                                "type": "text",
                                                "label": "Currency"
                                            },
                                            {
                                                "name": "fldP3hMUK8lU91z0b",
                                                "type": "number",
                                                "label": "fromQuantity"
                                            },
                                            {
                                                "name": "fldEwCfN3rRNHFCXz",
                                                "type": "number",
                                                "label": "toQuantity"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Tier",
                                        "type": "text",
                                        "label": "Tier"
                                    },
                                    {
                                        "name": "Vendor Product",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Vendor Product"
                                    },
                                    {
                                        "name": "DEL: Pricing Tier",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "DEL: Pricing Tier"
                                    },
                                    {
                                        "name": "PUT: Publish Tier",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "PUT: Publish Tier"
                                    },
                                    {
                                        "name": "Status",
                                        "type": "text",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "Automation Status Entry",
                                        "type": "text",
                                        "label": "Automation Status Entry"
                                    },
                                    {
                                        "name": "Product (from Vendor Product)",
                                        "type": "array",
                                        "label": "Product (from Vendor Product)"
                                    },
                                    {
                                        "name": "TierID",
                                        "type": "text",
                                        "label": "TierID"
                                    },
                                    {
                                        "name": "Vendor Sku (from Vendor Product)",
                                        "type": "array",
                                        "label": "Vendor Sku (from Vendor Product)"
                                    },
                                    {
                                        "name": "vendorProductId",
                                        "type": "array",
                                        "label": "vendorProductId"
                                    },
                                    {
                                        "name": "Cost",
                                        "type": "number",
                                        "label": "Cost"
                                    },
                                    {
                                        "name": "Currency",
                                        "type": "text",
                                        "label": "Currency"
                                    },
                                    {
                                        "name": "fromQuantity",
                                        "type": "number",
                                        "label": "fromQuantity"
                                    },
                                    {
                                        "name": "toQuantity",
                                        "type": "number",
                                        "label": "toQuantity"
                                    },
                                    {
                                        "name": "Created",
                                        "type": "date",
                                        "label": "Created"
                                    },
                                    {
                                        "name": "Last Modified",
                                        "type": "date",
                                        "label": "Last Modified"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "shatter": false,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}